<div class="square-button" {{action "tapAction" on="tap"}} >
  <div class="text" >{{text}}</div>
  <div class="count">{{count}}</div>
</div>
<div class="square-button-detail" {{action "pressAction" on="click"}} btnId="{{id}}">详情</div>
