<div class="title-area bk-color-white margin-0-10px border-bottom-1" id="any-time-{{itemId}}" {{action 'timeTaskDetail' on="tap"}}>
  <div class="item-name pull-left padding-left-5 font13" >{{itemName}}</div>
  <div class="pull-right">
    <span class="tip color2FA7FD">{{itemCount}}</span><span class="font12">  次</span>
    <span id="save_{{itemId}}" {{action "saveCountApply" on="tap" bubbles=false}}><i class="fa-plus left8 color999999 font16"></i></span>
  </div>
  <!-- <div class="func pull-right right8">
    {{ui/icon-button iconClass="el-plus" title="添加" clickAction="cntAddAction" cntAddAction="cntAddAction" class="tip-text-color font16"}}
    {{#if expanded}}
    {{ui/icon-button iconClass="el-down-open" class="light-text-color font12"}}
    {{else}}
    {{ui/icon-button iconClass="el-up-open" class="light-text-color font12"}}
    {{/if}}
  </div> -->
</div>
<!-- <div class="detail-area {{if expanded '' 'heddin'}}">
  {{#if detail}}
  {{#each detail as |detailItem|}}
    <div class="detail">
      <span class="weight-bold">{{detailItem.indexStr}}</span><span>{{detailItem.content}}</span>
    </div>
  {{/each}}
  <div class="addImplementMessage">
    <div class="sendBtnAddImplementMessage" id="AddImplement_message{{itemId}}" {{action "cntAddAction" itemId on="tap"}}>
        +
    </div>
  </div>
  {{else}}

    <div class="addImplementMessage">
      点击按钮添加内容
      <div class="sendBtnAddImplementMessage" id="AddImplement_message{{itemId}}" {{action "cntAddAction" itemId on="tap"}}>
          +
      </div>
    </div>
  {{/if}}
</div> -->
<div class="clear"/>
{{#if addNewTask}}
	{{#bs-modal body=false footer=false header=false closeAction="invitation"}}
		{{#bs-modal-body}}
			<div class="col-xs-12 nopadding-horizontal">
				<div class="col-xs-12 nopadding-left col-xs-12">
					<div class="form-input-group">
						<span class="input-group-addon center">是否执行该项任务？</span>
					</div>
				</div>
      </div>
		{{/bs-modal-body}}
		{{#bs-modal-footer class="user-add-btn"}}
      {{#ui/mix-button class="user-btn edit-btn" iconClass="fa fa-save"  text='确定' clickAction="saveNewTask" saveNewTask="saveNewTask"}}
      {{/ui/mix-button}}
      {{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-undo"  text='取消'  clickAction="invitation" invitation="invitation"}}
      {{/ui/mix-button}}
		{{/bs-modal-footer}}
	{{/bs-modal}}
{{/if}}

<!--  点击是否显示大图  -->
<!-- {{#if showExesModal}}
  {{ui/mobile/nursingplanexe-list invitation="invitation" minusAction="minusAction" itemExes=itemExes}}
{{/if}} -->
