<div id="userActivityRecordItemContainer" class="mainContent">
  <div class="wrapperInner jujia-Bd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container activity-record-item">
  {{#each activityOrderList as |activityOrder|}}
    <section class="lately" style="margin-bottom:5px;">
      <i class="fa fa-file-text-o prev"></i>
      <span class="">{{activityOrder.activityPlan.day.typename}}</span>
      <span>{{activityOrder.activityPlan.time}}</span>
      <span>{{activityOrder.activityPlan.place}}</span>
      <p>{{activityOrder.activityPlan.description}}</p>
    </section>
  {{/each}}
  <!-- <section class="jujia-catalog">
    <ul>
      <li class="account" id="record-item-history" {{action 'switchPage' 'record-item-history' 'record-item-history' on="tap"}}>
        <i class="fa fa-history prev"></i>
        <span class="">历史活动</span>
        <i class="fa fa-angle-right next"></i>
      </li>
    </ul>
  </section> -->
</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="activityOrderList" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
