<div id="selfChooseContainer" class="mainContent">
    <div class="wrapperInner">
        <div>
            {{#if (eq editType 'input')}}
                <!-- <ul class="nopadding-left ">
                    <li class="input_noneborder input_border-bottom top10 textarea">
                        {{input type="text" class='edit fullWidth padding-left-8' maxlength=maxlength value=edit placeholder=editPlaceholder }}
                    </li>
                    <li class="top10 center"></li>
                </ul> -->
                <ul class="nopadding-left">
                    <li class=" top30">
                      {{#if (eq textType 'text')}}
                        <!-- {{input type="text"  class='edit fullWidth3 padding-left-8' value=edit placeholder=editPlaceholder autofocus=true bubbles=false }} -->
                        {{#callbusi/mobile/text-input value=edit placeholder=editPlaceholder}}
                        {{/callbusi/mobile/text-input}}
                      {{/if}}
                      {{#if (eq textType 'textarea')}}
                        <!-- {{textarea type="text"  class='edit fullWidth3 padding-left-8' value=edit placeholder=editPlaceholder autofocus=true bubbles=false }} -->
                        {{#callbusi/mobile/text-textarea value=edit placeholder=editPlaceholder}}
                        {{/callbusi/mobile/text-textarea}}
                      {{/if}}
                    </li>
                    <li class="top10 center"></li>
                </ul>
                {{ui/mobile/task-detail-button needDoubleClickPrevent=true touchStartAction="save" save="save" butContent="保存" outerClass="top40" outerClass="backvistEditMobileBut"}}
            {{/if}}
            {{#if (eq editType 'select')}}
                <div class="padding-left-10 padding-right-10 height40 line-height-40 bottom10 bgcolor-white">
                    {{theChoose.typename}}
                    {{#if theChoose.typename}}
                        <span class="pull-right">已选中</span>
                    {{else}}
                        <span class="pull-right">请在下方选择</span>
                    {{/if}}
                </div>
                {{#ui/mobile/gestures-container}}
                    {{#each selfChooseList as |data|}}
                        <div class="padding-left-10 padding-right-10 height40 line-height-40 bgcolor-white" id="choose_{{data.id}}" {{action 'choose' data on="tap"}}>
                            {{data.typename}}
                            {{#if (eq theChoose.typename data.typename)}}
                                <span class="pull-right">已选中</span>
                            {{/if}}
                        </div>
                        <div class="border-bottom-1 margin-leftright10"></div>
                    {{/each}}
                {{/ui/mobile/gestures-container}}
            {{/if}}
            {{#if (eq editType 'staff')}}
                <div class="padding-left-10 padding-right-10 height40 line-height-40 bottom10 bgcolor-white">
                    {{theChoose.name}}
                    {{#if theChoose.name}}
                        <span class="pull-right">已选中</span>
                    {{else}}
                        <span class="pull-right">请在下方选择</span>
                    {{/if}}
                </div>
                {{#ui/mobile/gestures-container}}
                    {{#each employeeList as |data|}}
                        <div class="padding-left-10 padding-right-10 height40 line-height-40 bgcolor-white" id="choose_staff_{{data.id}}" {{action 'chooseStaff' data on="tap"}}>
                            {{data.name}}
                            {{#if (eq theChoose.name data.name)}}
                                <span class="pull-right">已选中</span>
                            {{/if}}
                        </div>
                        <div class="border-bottom-1 margin-leftright10"></div>
                    {{/each}}
                {{/ui/mobile/gestures-container}}
            {{/if}}
            {{#if (eq editType 'date')}}
                <div id="selectDate" style="width:100%" class="font20 top10 text height45 border-radius input-border-color padding-top4 position-relative">
                    <div class="margin-0-10px">
                        <input type="datetime-local" placeholder="请输入日期" id="FromDate" value= {{nowDate}} name="FromDate" formart="yyyy-mm-dd hh:mm" onfocus="Constants.LOF_inputDateFocus(this);" class="date iosinput height30 line-height-25 padding-left-5 width100B" style="{{if global_curStatus.isIphone '-webkit-appearance: none;'}}"
                            onchange="Constants.LOF_inputDateChange(this);" />
                    </div>
                </div>
                {{ui/mobile/task-detail-button needDoubleClickPrevent=true touchStartAction="save" save="save" butContent="保存" outerClass="top40" outerClass="backvistEditMobileBut"}}
            {{/if}}
            <center class="center-edit3">
                <p>{{succeed}}</p>
            </center>
        </div>
    </div>
</div>
{{ui/container/infinite-scroll moniteData=infiniteContentPropertyName didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
