<div class="col-sm-12">
  <!-- BOX -->
  <div class="box">
    <div class="box-body">
      <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
      	<div class="row">
          <div class="col-sm-9">
        	  <!--搜索-->
            <div class="col-sm-3 nopadding-left">
              {{callbusi/dict-selector groupCode=constants.bedType isTenant=true
                showName="床位类型" dictSelect="bedSelect" preselected=false allowClear=true}}
            </div>
            <div class="col-sm-5">
        	    <div class="input-group">
            		{{input class="form-control" type="text" placeholder="搜索床位号/所属房间" value=queryCondition enter="search"}}
      	        <span class="input-group-btn">
        		      <button class="btn btn-primary btn-reduce" type="button" style="touch-action: manipulation; -ms-touch-action: manipulation;" {{action "search" on="click"}}>
                    <i class="fa fa-search"></i>
                  </button>
      	        </span>
        	    </div>
        	  </div>
        	  <!--搜索-->
          </div>
      	  <div class="user-add-btn col-sm-3 nopadding-right">
            {{#ui/mix-button class="user-btn pull-right" iconClass="fa-plus"  text='新增床位'  clickAction="toDetailPage" toDetailPage="toDetailPage"}}
            {{/ui/mix-button}}
      	  </div>
      	</div>
        <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-bordered table-hover dataTable" aria-describedby="datatable1_info">
          <thead>
            <tr role="row">
              <th rowspan="1" colspan="1" width="">所属楼宇</th>
              <th rowspan="1" colspan="1" width="">所属楼层</th>
              <th rowspan="1" colspan="1" width="">所属房间</th>
              <th rowspan="1" colspan="1" width="">床位名称</th>
              <th rowspan="1" colspan="1" width="">床位类型</th>
              <th rowspan="1" colspan="1" width="">价格(元/天)</th>
            </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
            {{#each bedList as |bed|}}
            <tr {{action "toDetailPage" bed on="click"}}>
              <td class="ellipsis" >{{bed.room.floor.building.name}}</td>
              <td class="ellipsis" >{{bed.room.floor.name}}</td>
              <td class="ellipsis" >{{bed.room.name}}</td>
              <td class="ellipsis">{{bed.name}}</td>
              <td class="ellipsis" >{{bed.bedType.typename}}</td>
              <td class="ellipsis" >{{bed.price}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{#if bedList }}
            {{page-numbers content=bedList showFL=true numPagesToShow=5}}
        {{else}}
                <h1 class="col-sm-12 center unTask"></h1>
        {{/if}}
      </div>
    </div>
  </div>

  <!-- /BOX -->
</div>
