<div id="userBloodSugarUploadContainer" class="mainContent {{if global_pageConstructure.showLoader 'hide' ''}}">
  <div class="wrapperInner jujia-Bd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container check-upload">
  <section class="msg-box">
    <div class="time">
      <span class="time-pre">请输入您的血糖值：</span>
      {{input value=curValue class="time-input"}}
      <span class="time-next">mmol/L</span>
    </div>
    <!-- <div class="matter">
      <span class="matter-span">请选择您测量的日期：</span>
      <div class="matter-date">
        {{input type="date" placeholder="测量日期" value=date}}
      </div>
    </div> -->
    <button type="button" name="button" {{ action "saveItem"}}>确定上传</button>
  </section>
</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="userJujiaMy" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
