<div id="changePasswordContainer" class="mainContent">
  <div class="wrapperInner">
    <ul class="nopadding-left border-none-input">
      <li class="height30 padding-left-10 border-bottom-1 line-height-30">
        <span class="padding-left-8" style="border-left:2px solid #2FA7FD">旧密码</span>
      </li>
      <li>
        {{input type="password" class="height44 fullWidth padding-left-20 border-bottom-1" id="password" value=password   placeholder="请输入旧密码"}}
      </li>

      <li class="height30 padding-left-10 line-height-30">
        <span class="padding-left-8" style="border-left:2px solid #2FA7FD">新密码</span>
      </li>
      <li class="">
        {{input type="password" class="height44 fullWidth padding-left-20 border-bottom-1 border-top-1" id="newPass" value=newPass   placeholder="请输入新密码"}}
      </li>
      <li>
        {{input type="password" class="height44 fullWidth padding-left-20 border-bottom-1" id="confirmPass" value=confirmPass placeholder="请再次输入新密码"}}
      </li>
      <li class="font12 padding10" style="color:#D0011B">
        提示:新密码需包含6位以上字符
      </li>
    </ul>
    <div class="tip-text-color top10 bottom8 min-height-18 text-center">{{responseInfo}}</div>

    {{#ui/mobile/gestures-container}}
      <div class="the-confirm" id="changePassword" {{action 'changePassword' on='tap'}}>确&nbsp;&nbsp;&nbsp;定</div>
    {{/ui/mobile/gestures-container}}
  </div>
</div>
{{ui/container/infinite-scroll moniteData="changePasswordList" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
