<div class="col-sm-12">
	<div class="box margin-middle max-width">
		<!-- BOX-BODY -->
		<div class="box-body">
      {{#bs-form formLayout=formLayout model=eventModel invalid=(action "invalid")}}
			<div class="row">
				<div class="col-xs-12">
					<p class="user-add-btn">
						{{#if detailEdit}}
						{{else}}
								{{#ui/icon-button class="user-btn edit-btn incon-button-font pull-right" iconClass="fa fa-trash-o"  text='删除'
										clickAction="deleteAction" deleteAction="deleteAction"}}
								  	{{bs-tooltip title="删除" class="light-tooltip"}}
								{{/ui/icon-button}}
								{{#ui/icon-button class="user-btn edit-btn incon-button-font pull-right" iconClass="fa fa-edit"  text='编辑'
										clickAction="editAction" editAction="editAction"}}
								   {{bs-tooltip title="编辑" class="light-tooltip"}}
								{{/ui/icon-button}}
						{{/if}}
					</p>
				</div>
				<!-- 列表详细介绍 -->
				<div class="col-xs-12 nopadding-left">
					<div class="col-xs-12 nopadding-horizontal mt20">
            <div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">事件名称：</span>
								{{#if detailEdit}}
									{{input  class="input-group-content" value=event.name}}
								{{else}}
									<div class="input-group-content">{{event.name}}</div>
								{{/if}}
		          </div>
		        </div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
							<span class="input-group-addon">老人姓名：</span>
								{{#if detailEdit}}
									{{#bs-form-element class="inline-block form-input-group" controlType="customer" property="customer" }}
									{{#power-select class="input-group-content" placeholder='必选项' options=customerList  selected=eventModel.customer searchField="name"
										noMatchesMessage="没有相关老人信息"	allowClear=false	onchange=(action "customerSelect" ) as |customer|}}
										{{customer.name}}
									{{/power-select}}
									{{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{eventModel.customer.name}}</div>
								{{/if}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">事件时间：</span>
								{{#if detailEdit}}
								{{#bs-form-element class="inline-block form-input-group" controlType="eventTime" property="eventTime" }}
										{{ui/addon/bs-datetimepicker date=eventModel.eventTimeDate placeholder="必填项"
											locale="zh-CN" iconClasses="fa fa-calendar" format='YYYY-MM-DD'
												show="doNothing" change="changeEventTime" }}
								{{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{eventModel.eventTimeStr}}</div>
								{{/if}}
							</div>
						</div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-input-group">
                <span class="input-group-addon">事件类型：</span>
                {{#if detailEdit}}
                {{#bs-form-element class="inline-block form-input-group label-normal" controlType="type" property="type" }}
                    {{callbusi/dict-selector curDict=eventModel.type groupCode='eventType' showName="事件类型"
                    dictSelect="eventTypeSelect" value=eventModel.type preselected=false}}
                {{/bs-form-element}}
                {{else}}
                  <div class="input-group-content">{{eventModel.type.typename}}</div>
                {{/if}}
              </div>
            </div>
						<div class="col-xs-12 col-sm-12">
							<div class="form-input-group">
								<span class="input-group-addon">描述：</span>
								{{#if detailEdit}}
									{{textarea type="text" class="full-width inline-block form-input-group label-normal form-control" value=event.remark}}
								{{else}}
									<div class="input-group-content">{{event.remark}}</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="center">
					<p class="text-center user-add-btn padding-top30 inlineBlock margin0auto">
						{{#if detailEdit}}
							{{#ui/mix-button class="user-btn edit-btn body-text-color" iconClass="fa fa-check"  text='保存' clickAction="saveAction" saveAction="saveAction"  clickActParams=eventModel}}
							{{/ui/mix-button}}
							{{#ui/mix-button class="user-btn times-btn body-text-color" iconClass="fa fa-mail-reply"  text='取消'  clickAction="detailCancel" detailCancel="detailCancel" }}
							{{/ui/mix-button}}
						{{/if}}
					</p>
				</div>
			</div>
      {{/bs-form}}
		</div>
	</div>
</div>
