<div id="customerDynamicListContainer" class="mainContent border-top-1 {{if global_pageConstructure.showLoader 'hide' ''}}">
  <div class="wrapperInner">
    {{#if customerdynamicList}}
      {{log "customerdynamicList:" customerdynamicList}}
      {{#each customerdynamicList as |customerdynamic|}}
        {{#callbusi/mobile/dynamic-item customerdynamic=customerdynamic delItemAction="delItemAction"}}
        {{/callbusi/mobile/dynamic-item}}
      {{/each}}
    {{else}}
      {{#if nocustomerId}}
        <div class="center" style="margin-top:40px;">
          请在上方选择老人
        </div>
      {{else}}
        <div class="nodate">暂无数据</div>
      {{/if}}
    {{/if}}

  </div>
</div>
{{#ui/mobile/gestures-container}}
  <div class="detail-customer-dynamicsbtn" id="detail_dynamicbtn"  style="bottom:0px;">
    <div class="imgWrapperInner">
      {{#ui/img-intergration-simple name="dynamicsImg" isMobile=true businessFlag="clickImgUpload" hasUploader=true isResizeImage=true imgSrc=null height=24 width=31 margin-left=0 uploadUrl=uploadUrl uploadSucc="addDynamic" uploadFail="uploadFail" businessType=constants.uploadBusinessType_headimg as |component|
      }}
      {{/ui/img-intergration-simple}}
    </div>
    <img src="assets/images/mobile/dynamicspic.png" alt=""/>
    <!-- <img src="assets/images/mobile/video-icon-16.png" alt="" {{action "videoRecord" on="tap"}} id="videoRecord"/> -->
    <div class="addDynamicText" {{action 'addDynamic' "text" on="tap"}}>发送</div>
    <div class="dynamicTextOut">
      <input class="dynamicText" type="text" name="" value=""/>
    </div>
  </div>
{{/ui/mobile/gestures-container}}
{{ui/container/infinite-scroll moniteData="customerdynamicList"
didRenderAction="didRender" didInsertElementAction="didInsertElement"}}

{{#if showVideoRecord}}
  {{callbusi/mobile/media-record afterStop="afterStopRecord"}}
{{/if}}
