<!-- <div class="col-md-12">
  <div class="box panel-default col-sm-12">
    <div class="box-body">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_3_1" data-toggle="tab">基本信息</a></li>
          <li><a href="#tab_3_2" data-toggle="tab">入住信息</a></li>
        </ul>
        <div class="tab-content fade in col-md-12">
          <div class="tab-pane fade in padding-top8 active" id="tab_3_1">
            {{#callbusi/customer-info  addMode=true customerInfo=customerInfo bedList=bedList bedListFirst=bedListFirst }}
            {{/callbusi/customer-info}}
          </div>
          <div class="tab-pane fade in padding-top8" id="tab_3_2">
             {{#callbusi/customer-live-info  addMode=true customerInComp=customerInfo bedList=bedList bedListFirst=bedListFirst}}
             {{/callbusi/customer-live-info}}
          </div>
       </div>
      </div>

    </div>
  </div>
</div> -->
    <!--pc端-->
    <div class="col-sm-12">
        <div class="box img-top-padding50 ">
            <!-- <div class="padding-bottom50 ">
                <a href="#" class="pull-left the-a" {{action "information" "informationParams" on="click"}}>
                    <img src="{{if informationParams '/assets/images/icon/个人信息-选中.png' '/assets/images/icon/个人信息-未选中.png'}}" alt="" class="margin-right90 img-height" id="information">
                    <div class="{{if informationParams 'select-color' 'noselect-color '}} top6">个人信息</div>
                </a>
                <a href="#" class="pull-left the-a" {{action "health" "healthParams" on="click"}}>
                    <img src="{{if healthParams '/assets/images/icon/健康监测-选中.png' '/assets/images/icon/健康监测-未选中.png'}}" alt="" class="margin-right90 img-height" id="health">
                    <div class="{{if healthParams 'select-color' 'noselect-color '}} top6">健康监测</div>
                </a>
                <a href="#" class="pull-left the-a" {{action "service" "serviceParams" on="click"}}>
                    <img src="{{if serviceParams '/assets/images/icon/服务信息-选中.png' '/assets/images/icon/服务信息-未选中.png'}}" alt="" class="margin-right90 img-height" id="service">
                    <div class="{{if serviceParams 'select-color' 'noselect-color '}} top6">服务信息</div>
                </a>
                <a href="#" class="pull-left the-a" {{action "record" "recordParams" on="click"}}>
                    <img src="{{if recordParams '/assets/images/icon/服务记录-选中.png' '/assets/images/icon/服务记录-未选中.png'}}" alt="" class="margin-right90 img-height" id="record">
                    <div class="{{if recordParams 'select-color' 'noselect-color '}} top6">服务记录</div>
                </a>
                <a href="#" class="pull-left the-a" {{action "thing" "thingParams" on="click"}}>
                    <img src="{{if thingParams '/assets/images/icon/事件记录-选中.png' '/assets/images/icon/事件记录-未选中.png'}}" alt="" class="margin-right90 img-height" id="thing">
                    <div class="{{if thingParams 'select-color' 'noselect-color '}} top6">事件记录</div>
                </a>
                <div class="clear"></div>
            </div> -->
            {{#if informationParams}}
                <!-- <div class="bottom12">
                    <ul class="nopadding-left border-bottom">
                        <li class="pull-left margin-right30 {{if infoParams 'select-bottom-border' ''}}" {{action "infoClick" "infoParams" on="click"}}><a href="#tab_1_1" data-toggle="tab" class="{{if infoParams 'select-title' 'noselect-title'}} the-a">基本信息</a></li>
                        <li class="pull-left margin-right30 {{if pointParams 'select-bottom-border' ''}}" {{action "pointClick" "pointParams" on="click"}}><a href="#tab_1_3" data-toggle="tab" class="{{if pointParams 'select-title' 'noselect-title'}} the-a">个人特点</a></li>
                        <li class="pull-left margin-right30 {{if contactParams 'select-bottom-border' ''}}" {{action "contactClick" "contactParams" on="click"}}><a href="#tab_1_4" data-toggle="tab" class="{{if contactParams 'select-title' 'noselect-title'}} the-a">联系人信息</a></li>
                        <li class="pull-left margin-right30 {{if healthInfoParams 'select-bottom-border' ''}}" {{action "healthClick" "healthInfoParams" on="click"}}><a href="#tab_1_5" data-toggle="tab" class="{{if healthInfoParams 'select-title' 'noselect-title'}} the-a">健康档案</a></li>
                    </ul>
                    <div class="clear"></div>
                </div> -->
                <div class="tab-content fade in nopadding-left nopadding-right">
                  {{#callbusi/customer-info customerInfo=customer saveCustomer="saveCustomer" shortSave=shortSave showCustomer=showCustomer addMode=true directSave=true}}
                  {{/callbusi/customer-info}}
                    <!-- <div class="tab-pane fade in  active" id="tab_1_1">
                        {{#callbusi/customer-info customerInfo=customer saveCustomer="saveCustomer" shortSave=shortSave showCustomer=showCustomer addMode=true directSave=true}}
                        {{/callbusi/customer-info}}
                    </div>
                    <div class="tab-pane fade in " id="tab_1_3">
                        {{#callbusi/customer-point-info customerInComp=customer addMode=true directSave=true}}
                        {{/callbusi/customer-point-info}}
                    </div>
                    <div class="tab-pane fade in " id="tab_1_4">
                        {{#callbusi/customer-contact-info customerInfo=customer addMode=true directSave=true}}
                        {{/callbusi/customer-contact-info}}
                    </div>
                    <div class="tab-pane fade in " id="tab_1_5">
                        {{#callbusi/customer-health-info customerInComp=customer addMode=true clickFlag=clickFlag healthRecordInfo=healthRecordInfo shortSave=shortSave showCustomer=showCustomer directSave=true}}
                        {{/callbusi/customer-health-info}}
                    </div> -->
                </div>
            {{else}}
                {{#if healthParams}}
                    <!-- <div class="tab-pane fade in padding-top8">
                        {{callbusi/customer-health-data customerInComp=customer}}
                    </div> -->
                {{else}}
                    {{#if serviceParams}}
                    <!-- {{#callbusi/customer-live-info customerInComp=customer saveCustomer="saveCustomer" bedList=bedList actualDepositInfo=actualDepositInfo balanceInfo=balanceInfo}}
                    {{/callbusi/customer-live-info}} -->
                    {{else}}
                        {{#if recordParams}}

                        {{else}}

                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
