<div id="employeeAssessmentDetailContainer" class="mainContent {{if global_pageConstructure.showLoader 'hide' ''}}">
  <div class="wrapperInner">
    {{#ui/mobile/gestures-container}}
    {{#if showAssessment}}
      <div class="clearfix bk-color-white">
        <div class="clearfix margin-top-10">
          {{log "employee in hbs:" employee.name}}
          <div class="pull-left width30B line-height-25 padding-right-18 text-right">考核员工:</div>
          <div class="pull-left width70B line-height-25">
            {{employee.name}}
          </div>
        </div>
        <div class="clearfix margin-top-10">
          <div class="pull-left width30B line-height-25 padding-right-18 text-right">考核时间:</div>
          <div class="pull-left width70B line-height-25">
            {{assessment.examTimeStr}}
          </div>
        </div>
        <!-- 保存提示 -->
        <div class="center hasError min-height-18 left4 top15">
          {{#if theTextOfModel}}
          {{responseInfo}}
          {{/if}}
        </div>

      </div>
    {{else}}
      <div class="clearfix bk-color-white position-relative" id="assessment_detail_{{assessment.id}}" {{action 'gotoAssessmentDetail' on="tap"}}>
        {{#if hasResultListFlag}}
          <h2 class="center link-color line-height-25 top5">已经有该天的考核数据,您可以进行其他操作.</h2>
        {{/if}}
        <div class="clearfix margin-top-10">
          <div class="pull-left width30B line-height-25 padding-right-18 text-right">
            考核员工:
          </div>
          <div class="pull-left width70B line-height-25">
            {{assessment.examiner.name}}
          </div>
        </div>
        <div class="clearfix">
          <div class="pull-left width30B line-height-25 padding-right-18 text-right">
            考核时间:
          </div>
          <div class="pull-left width70B line-height-25">
            {{assessment.examTimeStr}}
          </div>
        </div>
      </div>
      {{/if}}

      <ul class="self nopadding-left margin-top-10">
        <li id="indicator_type" class="" style="position:relative;" {{action 'toChooseType' assessment 'assessmentType' on="tap"}}>
          <strong>考核类型:</strong>
          <span class="pull-right" style="margin-right:10px;">{{assessment.type.typename}}&nbsp;<i class="fa-angle-right font20 my-right color-ccc"></i></span>
        </li>
        <li class="margin-leftright10 border-bottom-1"></li>
        {{#each assessmentResults as |assessmentResult index|}}
          <li id="indicator_{{index}}" class="" style="position:relative;" {{action 'toSelfChoose' assessmentResult.assessmentIndicator.maxScore assessmentResult.assessmentIndicator.name assessmentResult.assessmentIndicator.id assessmentResult index on="tap"}}>
            <strong>{{assessmentResult.assessmentIndicator.name}}</strong>
            <span class="pull-right" style="margin-right:10px;">{{assessmentResult.score}}分&nbsp;<i class="fa-angle-right font20 my-right color-ccc"></i></span>
          </li>
          <li class="margin-leftright10 border-bottom-1"></li>
        {{/each}}
        <li id="indicator_remark" class="" style="position:relative;" {{action 'toChooseType' assessment 'remark' on="tap"}}>
          <strong>备注:</strong>
          <span class="pull-right" style="margin-right:10px;max-width:200px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">{{assessment.remark}}&nbsp;<i class="fa-angle-right font20 my-right color-ccc"></i></span>
        </li>
      </ul>
      <!-- {{ui/mobile/task-detail-button needDoubleClickPrevent=true touchStartAction="saveDetail" saveDetail="saveDetail" butContent="确定" outerClass="assessmentBut"}} -->
  {{/ui/mobile/gestures-container}}
  </div>
</div>
{{ui/container/infinite-scroll moniteData=""
didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
