
<div class="col-sm-12">
    <!-- BOX -->
    <div class="box">
        <div class="box-body">
            <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                    <div class="col-sm-9">
                        <!--搜索-->
                        <div class="col-sm-5 nopadding-left">
                            <div class="input-group">
                                {{input class="form-control" type="text" placeholder="搜索 姓名/电话/身份证号" value=queryCondition enter="searchStaff"}}
                                <span class="input-group-btn">
                        		      <button class="btn btn-primary btn-reduce" type="button" style="touch-action: manipulation; -ms-touch-action: manipulation;" {{action "searchStaff" on="click"}}>
                                    <i class="fa fa-search"></i>
                                  </button>
      	                        </span>
                            </div>
                        </div>
                        <div class="col-sm-3 nopadding-left">
                          <div class="input-group full-width">
                                  {{callbusi/dict-selector class="inline-block " curDict=staffModel.staffStatus groupCode=constants.staffStatus showName="工作状态" dictSelect="statusSelect" preselected=false allowClear=true}}
                          </div>
                        </div>
                        <!--搜索-->
                    </div>
                    <div class="user-add-btn col-sm-3 nopadding-right">
                        {{#ui/mix-button class="user-btn pull-right" iconClass="fa-plus" text='新增员工' clickAction="addStaff" addStaff="addStaff" }}
                        {{/ui/mix-button}}
                    </div>
                </div>
                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-bordered table-hover dataTable" aria-describedby="datatable1_info">
                    <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1">员工姓名</th>
                            <th rowspan="1" colspan="1" width="">性别</th>
                            <th class="center" rowspan="1" colspan="1" width="">年龄</th>
                            <th class="center" rowspan="1" colspan="1" width="">身份证号码</th>
                            <!-- <th rowspan="1" colspan="1" width="">岗位</th> -->
                            <th rowspan="1" colspan="1" width="">户籍</th>
                            <!-- <th rowspan="1" colspan="1" width="">邮箱</th> -->
                            <!-- <th rowspan="1" colspan="1" width="">所属部门</th> -->
                            <th rowspan="1" colspan="1" width="">联系电话</th>

                            <!-- <th rowspan="1" colspan="1" width="">登录名</th> -->
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
                        {{#if staffList }}
                            {{#each staffList as |staff|}}
                            {{log "staff.department.name" staff.name staff.department.name}}
                                <tr {{action "enterDetail" staff on="click"}}>
                                    <td class="ellipsis">
                                        {{staff.name}}
                                    </td>
                                    <td class="ellipsis ">{{staff.staffSex.typename}}</td>
                                    <td class="ellipsis center">{{staff.age}}</td>
                                    <td class="ellipsis center">{{staff.staffCardCode}}</td>
                                    <!-- <td class="ellipsis ">{{staff.position.typename}}</td> -->
                                    <td class="ellipsis ">{{staff.staffCensus.typename}}</td>
                                    <!-- <td class="ellipsis ">{{staff.staffMail}}</td> -->
                                    <!-- <td class="ellipsis ">{{staff.department.name}}</td> -->
                                    <td class="ellipsis ">{{staff.staffTel}}</td>
                                    <!-- <td class="ellipsis ">{{staff.loginName}}</td> -->
                                </tr>
                            {{/each}}
                            {{else}}
                            <div class="nodate">暂无数据</div>
                        {{/if}}
                    </tbody>
                </table>
                {{#if staffList }}
                    {{page-numbers content=staffList showFL=true numPagesToShow=5
                      exportAllExcel="exportAllExcel" exportAll=exportAll}}
                {{else}}
                    <h1 class="col-sm-12 center unTask"></h1>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- /BOX -->
</div>
