<div class="page-content center">
  <div class="col-md-3 col-sm-6 nopadding-horizontal top60 bottom60">
    <a href="javascript:void(0);" class="no-decoration" {{action "switBusiTask" on="click"}}><span class="home-shine padding60 bgcolor-gray">所有任务</span></a>
  </div>
  <div class="col-md-3 col-sm-6 nopadding-horizontal top60 bottom60">
    <a href="javascript:void(0);" class="no-decoration" {{action "switStufShow" on="click"}}><span class="home-shine padding60 bgcolor-gray">客服一览</span></a>
  </div>
  <div class="col-md-3 col-sm-6 nopadding-horizontal top60 bottom60">
    <a href="javascript:void(0);" class="no-decoration" {{action "switCall" on="click"}}><span class="home-shine padding60 bgcolor-gray">通话查看</span></a>
  </div>
  <div class="col-md-3 col-sm-6 nopadding-horizontal top60 bottom60">
    <a href="javascript:void(0);" class="no-decoration" {{action "switWorkorder" on="click"}}><span class="home-shine padding60 bgcolor-gray">工单查看</span></a>
  </div>
  <div class="col-sm-12 top60">
    <strong class="text-muted">请使用左侧的菜单或者上方的快速导航开始您今天的工作</strong>
  </div>

  <div class="hide">
    qp:{{qp}}
    <a href="javascript:void(0);" {{action "qpTest" on="click"}}>ccc</a>
  </div>
</div>
