<div class="col-sm-12">
    <div class="box">
        <!-- BOX-BODY -->
        <div class="box-body">
            {{#bs-form formLayout=formLayout model=evaModel invalid=(action "invalid")}}
                <div class="clearfix">
                  <div class="row" style="margin-bottom:30px;">
                    <div class="choose-inline-block pointer" {{action "selectBedShow" on="click"}}>
                        <div class="{{if showBed 'fa-dot-circle-o' 'fa-circle-o'}} choose-inline-block font20"></div>
                        <div class="choose-inline-block" style="font-size:14px;">按房间-床位选择老人</div>
                    </div>
                    <div class=" choose-inline-block pointer" {{action "selectCus" on="click"}}>
                        <div class=" {{if showCus 'fa-dot-circle-o' 'fa-circle-o'}} choose-inline-block font20"></div>
                        <div class="choose-inline-block" style="font-size:14px;">直接选择老人</div>
                    </div>&nbsp;&nbsp;
                    <div class=" choose-inline-block pointer" {{action "addCus" on="click"}}>
                        <div class=" {{if addCus 'fa-dot-circle-o' 'fa-circle-o'}} choose-inline-block font20"></div>
                        <div class="choose-inline-block" style="font-size:14px;">新增老人</div>
                    </div>&nbsp;&nbsp;
                  </div>

                    <div class="row ">
                      <div class="col-xs-12 col-sm-6 nopadding-left bottom40 {{if showBed '' 'hidden'}}">
                          <div class="form-input-group label-normal">
                              <span class="input-group-addon">选择房间-床位：</span>
                              {{callbusi/bed-choose class="inline-block form-input-group" bedShow=bedShow
          										selectBed="selectBed"  bedList=bedList}}
                          </div>
                      </div>
                        <div class="col-xs-12  nopadding-left bottom20">
                            <div class="form-input-group label-normal col-sm-6 nopadding-left">
                                {{#if showCus}}
                                <span class="input-group-addon">选择老人姓名：</span>
                                {{#bs-form-element class="inline-block form-input-group" controlType="customer" property="customer" }}
                                    {{#power-select class="inline-block input-group-content pull-left" placeholder="必填项" options=customerList selected=evaModel.customer searchField="name" noMatchesMessage="没有相关内容" allowClear=false onchange=(action "selectCustomer" ) as |customer|}}
                                        {{customer.name}}
                                    {{/power-select}}
                                {{/bs-form-element}}
                                {{else if showBed}}
                                <span class="input-group-addon">老人姓名：</span>
                                {{#bs-form-element class="inline-block form-input-group" controlType="customer" property="customer" }}
                                  <div class="font-light input-group-content">{{evaModel.customer.name}}</div>
                                {{/bs-form-element}}
                                {{else}}
                                  <span class="input-group-addon">老人姓名：</span>
                                  {{#bs-form-element class="inline-block form-input-group" controlType="customer" property="customer" }}
                                    {{input type="text" class="full-width label-normal form-control" value=customerName placeholder=" 必填"}}
                                  {{/bs-form-element}}
                                {{/if}}
                            </div>
                            <div class="col-sm-6 nopadding-left {{if addCus '' 'hidden'}}">
                              <div class="form-input-group">
                                <span class="input-group-addon">联系方式：</span>
                                {{input type="text" class="full-width inline-block form-input-group label-normal form-control" value=customerNum placeholder=""}}
                              </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 nopadding-left bottom20">
                            <div class="form-input-group label-normal">
                                <span class="input-group-addon">模板类型：</span>
                                {{#power-select class="inline-block input-group-content" placeholder="必填项" options=modelSourceList
                                selected=modelSource noMatchesMessage="没有相关内容" allowClear=false preselected=true onchange=(action "selectModelSource" ) as |modelSource|}}
                                    {{modelSource.name}}
                                {{/power-select}}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="text-center padding-top30 ">
                                <p class="text-center user-add-btn" style="display:inline-block;margin:0 auto!important ">
                                    {{#ui/mix-button class=" user-btn edit-btn " iconClass="fa-chevron-right" text='下一步' clickAction="nextClick" nextClick="nextClick" }}
                                    {{/ui/mix-button}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/bs-form}}
            <!-- {{#if useModelList }}
          {{page-numbers content=evaluateList showFL=true numPagesToShow=3}}
      {{else}}
          <h1 class="col-sm-12 center unTask"></h1>
      {{/if}} -->
        </div>
    </div>
</div>
