<div class="col-sm-12">
    <div class="box">
        <!-- BOX-BODY -->
        <div class="box-body">
            <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row ">
                    <div class="col-sm-9">
                        <div class="col-sm-5 nopadding-left">
                            <div class="pull-left">
                                <div class="input-group bottom8">
                                    {{input class="form-control" type="text" placeholder="搜索姓名/房间号" value=queryCondition enter="search"}}
                                    <!-- <input class="form-control" type="text" placeholder="搜索姓名/房间号/护工姓名"> -->
                                    <span class="input-group-btn">
                  <button class="btn btn-primary btn-reduce" type="button" style="touch-action: manipulation; -ms-touch-action: manipulation;" {{action "search" on="click"}}>
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                                </div>
                            </div>
                            <!--搜索-->
                        </div>
                        <div class="col-sm-7 nopadding-right nopadding-left">
                            <!-- <div class="data-title pull-left ">按时间搜索：</div>
           <span class="date-range pull-left">
             <div class="btn-group">
               <a class="js_update btn btn-default" href="#" {{action "search" "today" on="click"}}>今天</a>
               <a class="js_update btn btn-default" href="#" {{action "search" "seven" on="click"}}>最近7天</a>
               <a class="js_update btn btn-default " href="#" {{action "search" "thirty" on="click"}}>最近一个月</a>

               <a id="reportrange" class="btn reportrange" {{action "showDate" on="click"}}>
                 <i class="fa fa-calendar"></i>
                 <span>自定义日期</span>
                 <i class="fa fa-angle-down"></i>
               </a>
             </div>

             {{#if dateShow}}
             <div class="date-box form-input-group">
                 <div class="row">
                   <div class="col-xs-4 col-sm-4 org-title">开始时间：</div>
                   <div class="col-xs-8 col-sm-8">
                 {{ui/addon/bs-datetimepicker date=null placeholder="开始时间"
                   locale="zh-CN" iconClasses="fa fa-calendar" format='YYYY-MM-DD'
                    show="dpShowAction"  change="changeBeginDateAction"}}
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-xs-4 col-sm-4 org-title">结束时间：</div>
                   <div class="col-xs-8 col-sm-8">
                 {{ui/addon/bs-datetimepicker date=null placeholder="结束时间"
                   locale="zh-CN" iconClasses="fa fa-calendar" format='YYYY-MM-DD'
                    show="dpShowAction"  change="changeEndDateAction"}}
                   </div>
                 </div>
                 <div class="btn-row text-center">
                   <button class="btn btn-primary"  {{action "hideDate"  on="click"}}><i class="fa fa-check icon-white"></i>&ensp;确定</button>
                   <button class="btn btn-light-grey"  {{action "hideDate" on="click"}}><i class="fa fa-times"></i>&ensp;取消</button>
                 </div>
             </div>
             {{else}}
             {{/if}}
           </span> -->
                            {{callbusi/time-search class="inline-block" text='按评估日期搜索' dateShow=dateShow chooseDate=chooseDate search="search"
           submmit="submmit" emptied='emptied' changeBeginDateAction='changeBeginDateAction' changeEndDateAction='changeEndDateAction'}}
                        </div>
                    </div>
                    <div class="user-add-btn col-sm-3 pull-right nopadding-right">
                        {{#ui/mix-button class=" user-btn pull-right" iconClass="fa-plus" text='新增问卷' clickAction="toAddPage" toAddPage="toAddPage" }}
                        {{/ui/mix-button}}
                    </div>
                </div>
                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-bordered table-hover dataTable mt15" aria-describedby="datatable1_info">
                    <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1" width="">老人姓名</th>
                            <th rowspan="1" colspan="1" width="">身份证号</th>
                            <th rowspan="1" colspan="1" width="">房间及床位</th>
                            <!-- <th rowspan="1" colspan="1" width="">评估模板</th> -->
                            <!-- <th rowspan="1" colspan="1" class="" width="">评估结果</th> -->
                            <th rowspan="1" colspan="1" class="" width="">评估人</th>
                            <th rowspan="1" colspan="1" class="" width="">评估日期</th>
                        </tr>
                    </thead>
                    {{#if evaluateList}}
                        <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
                            {{#each evaluateList as |evaluate|}}
                                {{log "evaluate item" evaluate}}
                                <tr class="gradeA odd" {{action "goDetail" evaluate on="click"}}>
                                    <td class=" ellipsis sorting_1">{{evaluate.customer.name}}</td>
                                    <td class=" ellipsis ">{{evaluate.customer.cardCode}}</td>
                                    <td class=" ellipsis ">{{evaluate.customer.bed.roomBedName}}</td>
                                    <!-- <td class=" ellipsis ">{{evaluate.model.title}}</td> -->
                                    <!-- <td class=" ellipsis ">{{{evaluate.evaResult}}}</td> -->
                                    <td class=" ellipsis ">
                                        <span class="ellipsis floatLeft width90">{{evaluate.user.name}}</span>
                                    </td>
                                    <td class="">{{evaluate.createDateTimeString}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    {{else}}
                        <div class="nodate">暂无数据</div>
                    {{/if}}
                </table>
                <!-- {{#if evaluateList }}
                {{page-numbers content=EvaluateList showFL=true numPagesToShow=5}}
                {{else}}
                    <h1 class="col-sm-12 center unTask"></h1>
            {{/if}} -->
                {{#if evaluateList }}
                    {{page-numbers content=evaluateList showFL=true numPagesToShow=3}}
                {{else}}
                    <h1 class="col-sm-12 center unTask"></h1>
                {{/if}}
            </div>
        </div>
    </div>
</div>
