<div class="col-sm-12">
  <!-- BOX -->
  <div class="box">
    <div class="box-body">
      <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
      	<div class="row">
          <div class="col-sm-9">
        	  <!--搜索-->
            <div class="col-sm-5 nopadding-left">
        	    <div class="input-group">
            		{{input class="form-control" type="text" placeholder="搜索模板名称" value=queryCondition enter="search"}}
      	        <span class="input-group-btn">
        		      <button class="btn btn-primary btn-reduce" type="button" style="touch-action: manipulation; -ms-touch-action: manipulation;" {{action "search" on="click"}}>
                    <i class="fa fa-search"></i>
                  </button>
      	        </span>
        	    </div>
        	  </div>
        	  <!--搜索-->
        </div>
        {{#if dataLoader.couldAddModel}}
        <div class="user-add-btn col-sm-3 nopadding-right pull-right">
          {{#ui/mix-button class="user-btn pull-right " iconClass="fa-plus"  text='新增评估模板'  clickAction="addEva" addEva="addEva"}}
          {{/ui/mix-button}}
        </div>
        {{/if}}
      	</div>
        <table id="datatable1" cellpadding="0" cellspacing="0" border="0"  class="datatable table table-bordered table-hover dataTable" aria-describedby="datatable1_info">
          <thead>
            <tr role="row">
              <th rowspan="1" colspan="1" width="">模板名称</th>
              <th rowspan="1" colspan="1" width="">规范类型</th>
              <th rowspan="1" colspan="1" width="">评估类型</th>
              <th rowspan="1" colspan="1" width="">模板状态</th>
              <th rowspan="1" colspan="1" width="">操作</th>
            </tr>
          </thead>
          {{#if evaList}}
          <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
            {{#each evaList  as |eva|}}
            <tr class="pointer" {{action "goDetail" eva on="click"}}>
              <td class="ellipsis">{{eva.title}}</td>
              <td>
                {{#if eva.modelSource}}
                  {{eva.modelSource.name}}
                {{else}}
                  其他
                {{/if}}
              </td>
              <td>
                {{#if eva.modelType}}
                  {{eva.modelType.name}}
                {{else}}
                    无
                {{/if}}
              </td>
              <td>{{eva.useStatus}}</td>
              <td>
                {{#unless eva.modelSource}}
                {{#if (eq eva.useFlag 1)}}
                  <a {{action "useEva" eva bubbles=false}}>使用</a>
                {{else}}
                  <a {{action "useEva" eva bubbles=false}}>禁用</a>
                {{/if}}
                {{/unless}}
                {{#if isBaseTenant}}
                {{#if (eq eva.useFlag 1)}}
                  <a {{action "useEva" eva bubbles=false}}>使用</a>
                {{else}}
                  <a {{action "useEva" eva bubbles=false}}>禁用</a>
                {{/if}}
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
          {{else}}
          {{/if}}
        </table>
        {{#if evaList}}
            {{page-numbers content=evaList showFL=true numPagesToShow=5}}
        {{else}}
                <h1 class="col-sm-12 center unTask"></h1>
        {{/if}}
      </div>
    </div>
  </div>
  <!-- /BOX -->
</div>


{{#if addNewEva}}
	{{#bs-modal body=false footer=false header=false closedAction=(action "invitation")}}

		{{#bs-modal-header}}
			<h3 class="modal-title">新增模板</h3>
		{{/bs-modal-header}}
		{{#bs-modal-body}}
    {{#bs-form formLayout=formLayout model=evaModel invalid=(action "invalid")}}
      {{#if isBaseTenant}}
      <div class="line">
        <div class="col-xs-12 nopadding-horizontal">
  				<div class="col-xs-6 nopadding-left">
  					<div class="form-input-group">
  						<span class="input-group-addon">规范类型：</span>
                {{#bs-form-element class="inline-block form-input-group" controlType="modelSource"  property="modelSource" }}
                  {{#power-select name="draftSelect" class="input-group-content" placeholder='必填' options=modelSourceList  selected=evaModel.modelSource searchField="namePinyin"
                  noMatchesMessage="没有相关内容" preselected=true	allowClear=false onchange=(action "selectModelSource" ) as |modelSource|}}
                    {{modelSource.name}}
                  {{/power-select}}
                {{/bs-form-element}}
  					</div>
  				</div>
          {{#if modelTypeChoose}}
          <div class="col-xs-6 nopadding-left">
  					<div class="form-input-group">
  						<span class="input-group-addon">评估类型：</span>
                {{#bs-form-element class="inline-block form-input-group" controlType="modelType"  property="modelType" }}
                  {{#power-select class="input-group-content" placeholder='必填' options=modelTypeList  selected=evaModel.modelType searchField="namePinyin"
                 noMatchesMessage="没有相关内容"	preselected=true onchange=(action "selectModelType" ) as |modelType|}}
                   {{modelType.name}}
                  {{/power-select}}
                {{/bs-form-element}}
  					</div>
  				</div>
          {{/if}}
        </div>
      </div>
      {{/if}}
			<div class="col-xs-12 nopadding-horizontal">
				<div class="col-xs-12 nopadding-left">
					<div class="form-input-group">
						<span class="input-group-addon">标题：</span>
              {{#bs-form-element class="inline-block form-input-group" controlType="title"  property="title" }}
						      {{input class="input-group-content" type='text' value=title name="titleInput"}}
              {{/bs-form-element}}
					</div>
				</div>
      </div>
      {{/bs-form}}
		{{/bs-modal-body}}
		{{#bs-modal-footer class="user-add-btn confirmCreate"}}
      {{#ui/mix-button class="user-btn edit-btn"  iconClass="fa fa-save"  text='确定' clickAction="saveNewEva" saveNewEva="saveNewEva"}}
      {{/ui/mix-button}}
      {{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-undo"  text='取消'  clickAction="invitation" invitation="invitation"}}
      {{/ui/mix-button}}
		{{/bs-modal-footer}}
	{{/bs-modal}}
{{/if}}
