<div id="familyInformationContainer" class="mainContent {{if global_pageConstructure.showLoader 'hide' ''}}" style="top:43px;">
  <div class="wrapperInner">
    {{#if customerId}}
      {{#ui/mobile/gestures-container}}
      <div class="bk-color-white width100B height-auto padding-10-0 top10">
        <div class="font13 color999999 line-height-20 padding-left-20">
          <span class="color333333 font14">姓&nbsp;&nbsp;&nbsp;&nbsp;名: </span>
          <span>{{healtyCustomer.guardianFirstName}}</span>
        </div>
        <div class="font13 color999999 line-height-30 padding-left-20">
          <span class="color333333 font14">性&nbsp;&nbsp;&nbsp;&nbsp;别: </span>
          <span>{{healtyCustomer.guardianFirstGener.typename}}</span>
        </div>
        <div class="font13 color999999 line-height-30 padding-left-20">
          <span class="color333333 font14">联系方式: </span>
          <span>{{healtyCustomer.guardianFirstContact}}</span>
        </div>
        <div class="font13 color999999 line-height-30 padding-left-20">
          <span class="color333333 font14">与老人关系: </span>
          <span>{{healtyCustomer.firstRelation.typename}}</span>
        </div>
      </div>

      {{/ui/mobile/gestures-container}}
    {{else}}
      {{#if nocustomerId}}
        <div class="center" style="margin-top:40px;">请在上方选择老人</div>
      {{else}}
        <div class="nodate">暂无数据</div>
      {{/if}}
    {{/if}}
  </div>
</div>
{{ui/container/infinite-scroll moniteData="" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
