{{#ui/mobile/gestures-container}}
{{#if typeAndRemark}}
  {{#if assessmentType}}
  <div id="fullSelectContainer" class="mainContent" >
    <div class="wrapperInner">
      <div class="padding-left-10 padding-right-10 height40 line-height-40 bottom10 bgcolor-white">
        <span class="pull-left">请选择考核类型</span>
      </div>
      {{#each assessmentTypeList as |assessmentType index|}}
        <div class="padding-right-10 height40 line-height-40 bgcolor-white padding-left-20 font16" id={{concat "choose-type-" index }} {{action 'chooseType' assessmentType index on="tap"}}>
          {{assessmentType.typename}}
        </div>
        <div class="border-bottom-1 margin-leftright10"></div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if remarkType}}
    <div id="fullSelectContainer" class="mainContent" >
      <div class="wrapperInner">
        <div class="padding-left-10 padding-right-10 line-height-40 bottom10 " style="padding-bottom:20px">
          <span class="pull-left">备注：</span>
        </div>
        {{#callbusi/mobile/text-textarea value=assessmentInfo.remark}}
        {{/callbusi/mobile/text-textarea}}
        {{ui/mobile/task-detail-button needDoubleClickPrevent=true touchStartAction="saveDetail" saveDetail="saveDetail" butContent="确定" outerClass="assessment-button"}}
      </div>
    </div>

  {{/if}}
{{else}}
  <div id="fullSelectContainer" class="mainContent">
    <div class="wrapperInner">
      <div class="padding-left-10 padding-right-10 height40 line-height-40 bottom10 bgcolor-white">
        <span class="pull-left">请为该员工的<span class="mobel padding-0-5 font16">{{name}}</span>进行评分</span>
      </div>
      {{#each maxScoreArr as |maxScore|}}
        <div class="padding-right-10 height40 line-height-40 bgcolor-white padding-left-20 font16" id="choose_{{maxScore}}" {{action 'choose' maxScore on="tap"}}>
          {{maxScore}}分
        </div>
        <div class="border-bottom-1 margin-leftright10"></div>
      {{/each}}
    </div>
  </div>
{{/if}}
{{/ui/mobile/gestures-container}}
{{ui/container/infinite-scroll moniteData="" didRenderAction="didRender"
didInsertElementAction="didInsertElement"}}
