{{#ui/mobile/gestures-container}}
<div class="center padding-top28">
  <img src="assets/images/logo/Bitmap.png" width="140" alt="">
</div>
<div class="center font24 color666666 top5">天年宝</div>
<div class="center font14 color666666 top5">（{{tenantName}}）</div>
<div class="font16 color666666 top25 text-indent10 padding-bottom10 padding-top10 bk-color-white border-bottom-1 center">请选择您要使用的功能区:</div>
<ul class="profile">
  {{#if csUser}}
    <li class="carousel color666 border-bottom-1" id="service-nurse-page" {{action 'switchPage' 'service-nurse' 'service-nurse-page' 'cs-user' on="tap"}}>
      <i class="profile-i"><img class="a-img" src="assets/images/mobile/nursingIcon.png"/></i>
      <span class="profile-span">{{csUserName}} </span>
      <i class="fa-angle-right font20 my-right color-ccc"></i>
    </li>
  {{/if}}

  {{#if manager}}
    <li class="carousel color666 border-bottom-1" id="attendance-check-page" {{action 'switchPage' 'attendance-check' 'attendance-check-page' 'manager' on="tap"}}>
      <i class="profile-i"><img class="a-img" src="assets/images/mobile/managerIcon.png"/></i>
      <span class="profile-span">{{managerName}} </span>
      <i class="fa-angle-right font20 my-right color-ccc"></i>
    </li>
  {{/if}}

  {{#if leader}}
    <li class="carousel color666 border-bottom-1" id="consultation-management-mobile-page" {{action 'switchPage' 'consultation-management-mobile' 'consultation-management-mobile-page' 'leader' on="tap"}}>
      <i class="profile-i"><img class="a-img" src="assets/images/mobile/leaderIcon.png"/></i>
      <span class="profile-span">{{leaderName}} </span>
      <i class="fa-angle-right font20 my-right color-ccc"></i>
    </li>
  {{/if}}

  {{#if jujiaManager}}
    <li class="carousel color666 border-bottom-1" id="service-order-looking-page" {{action 'switchPage' 'service-order-looking' 'service-order-looking-page' 'jujiaManager' on="tap"}}>
      <i class="profile-i"><img class="a-img" src="assets/images/mobile/jujiaManager.png"/></i>
      <span class="profile-span">{{jujiaManagerName}} </span>
      <i class="fa-angle-right font20 my-right color-ccc"></i>
    </li>
  {{/if}}

  {{#if jujiaUser}}
    <li class="carousel color666 border-bottom-1" id="my-order-looking-page" {{action 'switchPage' 'my-order-looking' 'my-order-looking-page' 'jujiaUser' on="tap"}}>
      <i class="profile-i"><img class="a-img" src="assets/images/mobile/jujiaUser.png"/></i>
      <span class="profile-span">{{jujiaUserName}} </span>
      <i class="fa-angle-right font20 my-right color-ccc"></i>
    </li>
  {{/if}}
</ul>
<!-- <p class="center font14 color2FA7FD top15">(您可以通过主页面中左上角按钮切换到此页面)</p> -->
{{/ui/mobile/gestures-container}}
