<div id="userHealthyReportContainer" class="mainContent {{if global_pageConstructure.showLoader 'hide' ''}}">
  <div class="wrapperInner healthy-fileBd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container healthy-report">
  <section class="check">
    <div id="myChartEmpty" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>血糖情况：{{nulContentsEmpty}}</p>
      <!-- <p>{{nulContentsEmpty}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartBlood" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>血压情况：{{nulContentsBlood}}</p>
      <!-- <p>{{nulContentsBlood}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartOxygen" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>血氧情况：{{nulContentsOxygen}}</p>
      <!-- <p>{{nulContentsOxygen}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartBreath" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>呼吸频率情况：{{nulContentsBreath}}</p>
      <!-- <p>{{nulContentsBreath}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartWeight" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>体重情况：{{nulContentsWeight}}</p>
      <!-- <p>{{nulContentsWeight}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartFat" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>脂肪情况：{{nulContentsFat}}</p>
      <!-- <p>{{nulContentsFat}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartHeart" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>心率情况：{{nulContentsHeart}}</p>
      <!-- <p>{{nulContentsHeart}}</p> -->
    </div>
  </section>
  <section class="check">
    <div id="myChartTemperature" style="height:220px;clear:both;" class="text-center"></div>
    <div class="explain">
      <p>体温情况：{{nulContentsTemperature}}</p>
      <!-- <p>{{nulContentsTemperature}}</p> -->
    </div>
  </section>
</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="healthInfoList" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
