<div id="userHealthyPlanMedicineContainer" class="mainContent {{if global_pageConstructure.showLoader 'hide' ''}}">
  <div class="wrapperInner jujia-Bd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container healthy-plan-diet">
  <section class="msg-box">
    <!-- <img class="diet-img" src="{{relCustomerScheme.scheme.picPathUrl}}" alt=""> -->
    {{ui/img-zoomage imgSrc=relCustomerScheme.scheme.picPathUrl}}
    <p class="p1">我们为您选择的中医方案是：{{relCustomerScheme.scheme.title}}</p>
    <p class="p2">{{relCustomerScheme.scheme.contents}}</p>
  </section>
  <!-- <section class="jujia-catalog">
    <ul>
      <li class="medicine-upload" id="medicine-upload" {{action 'switchPage' 'medicine-upload' 'medicine-upload' on="tap"}}>
        <i class="fa fa-upload prev"></i>
        <span class="">上传中医方案</span>
        <i class="fa fa-angle-right next"></i>
      </li>
    </ul>
  </section> -->
</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="userJujiaMy" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
