<div id="messageContainer" class="mainContent">
  <div class="wrapperInner jujia-Bd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container member">
  <section class="msg-box">
    <i class="head-out glyphicon business-mine-img">
        {{#ui/img-intergration name="headImg"
        imgSrc=curCustomer.avatarUrl height=69 width=70
        businessType=constants.uploadBusinessType_headimg}}
        {{/ui/img-intergration}}
    </i>
    <div class="msg">
      <p class="name">{{curCustomer.name}}</p>
      <p class="tell">手机号：{{curCustomer.phone}}</p>
    </div>
    <p class="vip" style="background: url('../assets/images/kangyi/vip.png') no-repeat left center;">{{curCustomer.customerVipInfo.level.typename}}</p>
  </section>
  <section class="jujia-catalog">
    <ul>
      {{#each messageList as |message|}}
      <li class="account" id="messageItem_{{message.id}}" {{action "goDetail" message on="tap"}}>
        <i class="fa fa-info-circle prev"></i>
        <span class="" style="text-indent:5px;">{{message.businessType.typename}}&nbsp;&nbsp;{{message.createTimeStr1}}</span>
        <i class="fa fa-angle-right next"></i>
      </li>
      {{/each}}
    </ul>
  </section>
</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="messageList" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
