<div class="col-sm-12">
  <!-- BOX -->
  <div class="box">
    <div class="box-body">
      <div id="datatable1_wrapper" class="dataTables_wrapper form-inline " role="grid">
      	<div class="row">
          <div class="col-sm-10 nopadding-right">
        	  <!--搜索-->
            <div class="col-sm-4 nopadding-left">
                <div class="pull-left">
                    <div class="input-group bottom8">
                        {{input class="form-control" type="text" placeholder="搜索会员姓名" value=queryCondition enter="search"}}
                        <span class="input-group-btn">
                  <button class="btn btn-primary btn-reduce" type="button" style="touch-action: manipulation; -ms-touch-action: manipulation;" {{action "search" on="click"}}>
                        <i class="fa fa-search"></i>
                  </button>
                        </span>
                    </div>
                </div>
                <!--搜索-->
            </div>
            <div class="col-sm-8 nopadding-left pull-left nopadding-right">
               {{callbusi/time-search class="inline-block" text='记录时间' dateShow=dateShow chooseDate=chooseDate search="search"
               submmit="submmit" emptied='emptied' changeBeginDateAction='changeBeginDateAction' changeEndDateAction='changeEndDateAction'}}
            </div>
        	  <!--搜索-->
          </div>
      	  <div class="user-add-btn col-sm-2 nopadding-left nopadding-right">
            {{#ui/mix-button class="user-btn pull-right" iconClass="fa-plus"  text='新增消费记录'  clickAction="toDetailPage" toDetailPage="toDetailPage"}}
            {{/ui/mix-button}}
      	  </div>
      	</div>
        <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="table-fixed atatable table table-bordered table-hover dataTable" aria-describedby="datatable1_info">
          <thead>
            <tr role="row">
              <th rowspan="1" colspan="1" width="">会员姓名</th>
              <th rowspan="1" colspan="1" width="">服务人员</th>
              <th rowspan="1" colspan="1" width="">记录人</th>
              <th rowspan="1" colspan="1" width="">项目名称</th>
              <th rowspan="1" colspan="1" width="">记录时间</th>
              <th rowspan="1" colspan="1" width="20%">备注</th>
            </tr>
          </thead>
          {{#if planExeList}}
          <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
            {{#each planExeList as |plan|}}
            <tr {{action "toDetailPage" plan on="click"}}>
                <td class="ellipsis" >{{plan.itemProject.project.customer.name}}</td>
              <td class="ellipsis" >{{plan.exeStaff.name}}</td>
              <td class="ellipsis" >{{plan.recordUser.name}}</td>
                <td class="ellipsis" >{{plan.itemProject.item.name}}</td>
              <td class="ellipsis">{{plan.planStartTimeString}}</td>
              <td class="ellipsis nowrap">{{plan.remarkStr}}</td>
            </tr>
            {{/each}}
          </tbody>
          {{else}}
          <div class="nodate">暂无数据</div>
          {{/if}}
        </table>
        {{#if planExeList}}
            {{page-numbers content=planExeList showFL=true numPagesToShow=5}}
        {{else}}
                <h1 class="col-sm-12 center unTask"></h1>
        {{/if}}
      </div>
    </div>
  </div>

  <!-- /BOX -->
</div>
