<!-- <form>
  {{input type="text" placeholder="code" value=msgCode}}<br/>
  {{input type="text" placeholder="type" value=msgType}}<br/>
  {{input type="text" placeholder="detailType" value=msgDetailType}}<br/>
  {{input type="text" placeholder="taskId" value=msgTaskId}}<br/>
  {{input type="text" placeholder="targetNumber" value=targetNumber}}<br/>
  {{input type="text" placeholder="myNumber" value=myNumber}}<br/>
  {{input type="text" placeholder="customerId" value=customerId}}<br/>
  {{input type="text" placeholder="customerName" value=customerName}}<br/>
  {{input type="text" placeholder="callId" value=callId}}<br/>
</form> -->
<button {{action 'sendMesAction' 14}}>拨号中</button>
<button {{action 'sendMesAction' 10}}>等待接听</button>
<button {{action 'sendMesAction' 11}}>通话中</button>
<button {{action 'sendMesAction' 12}}>通话结束</button>
<button {{action 'sendMesAction' 13}}>未接通<10/button>
<button {{action 'sendMesAction' 15}}>通话失败</button>
