<div class="col-md-12">
	<div class="box margin-middle max-width">
		<!-- BOX-BODY -->
		<div class="box-body">
			{{#bs-form formLayout=formLayout model=merchModel invalid=(action "invalid")}}
			<div class="row">
				<div class="col-xs-12">
					<p class="user-add-btn">
						{{#if detailEdit}}
						{{else}}
							{{#ui/form-function editAction="detailEditClick" detailEditClick="detailEditClick"
							removeAction="delById" delById="delById" clickActParams=customerflow}}
							{{/ui/form-function}}

						{{/if}}
					</p>
				</div>
				<!-- 列表详细介绍 -->
				<div class="col-xs-12">
					<div class="col-xs-12 nopadding-horizontal mt20">
            <div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">物品名称：</span>
								{{#if detailEdit}}
									{{#if id}}
										{{bs-form-element property="name" class="inline-block form-input-group label-normal" placeholder='必填项'}}
								  {{else}}
									  {{bs-form-element property="name" class="inline-block form-input-group label-normal" placeholder='必填项'}}
									{{/if}}
								{{else}}
									<div class="input-group-content">{{merchInfo.name}}</div>
								{{/if}}
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">物品编号：</span>
								{{#if detailEdit}}
									{{#if id}}
									{{bs-form-element property="code" class="inline-block form-input-group label-normal" placeholder='必填项'}}
								{{else}}
									{{bs-form-element property="code" class="inline-block form-input-group label-normal" placeholder='必填项'}}
									{{/if}}
									{{else}}
									<div class="input-group-content">{{merchInfo.code}}</div>
								{{/if}}
							</div>

						</div>

            <div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">类型：</span>
								{{#if detailEdit}}
									{{#bs-form-element class="inline-block form-input-group" controlType="type"  property="type" }}
                  {{callbusi/dict-selector class="inline-block" groupCode=constants.nurseMerchType curDict=merchModel.type
                    showName='物品类型' dictSelect="typeSelect" preselected=false value=merchModel.type}}
                    {{/bs-form-element}}
									{{else}}
									<div class="input-group-content">{{merchInfo.type.typename}}</div>
								{{/if}}
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">单位：</span>
								{{#if detailEdit}}
									{{#bs-form-element class="inline-block form-input-group" controlType="merchUnit"  property="merchUnit" }}
                  {{callbusi/dict-selector class="inline-block"  groupCode=constants.nurseMerchUnit curDict=merchModel.merchUnit
                    showName='物品单位' dictSelect="merchUnitSelect" preselected=false value=merchModel.merchUnit}}
                    {{/bs-form-element}}
									{{else}}
									<div class="input-group-content">{{merchInfo.merchUnit.typename}}</div>
								{{/if}}
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">价格(元) ：</span>
								{{#if detailEdit}}
								{{#if id}}
									{{bs-form-element property="price" class="inline-block form-input-group label-normal" placeholder='必填项'}}
								{{else}}
									{{bs-form-element property="price" class="inline-block form-input-group label-normal" placeholder='必填项'}}
									{{/if}}
									{{else}}
									<div class="input-group-content">{{merchInfo.price}}</div>
								{{/if}}
							</div>
						</div>

						<div class="col-xs-12 col-sm-12">
							<div class="form-input-group">
								<span class="input-group-addon">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</span>
								{{#if detailEdit}}
									{{#if id}}
										{{textarea type="text" class="full-width inline-block form-input-group label-normal form-control" value=merchInfo.remark}}
									{{else}}
											{{textarea type="text" class="full-width inline-block form-input-group label-normal form-control" value=merchInfo.remark placeholder='备注'}}
									{{/if}}
								{{else}}
									<div class="input-group-content">{{merchInfo.remark}}</div>
								{{/if}}
							</div>

						</div>
					</div>
				</div>
				<!-- 列表详细介绍 -->
			</div>
			<div class="padding-top30 center">
				<p class="text-center user-add-btn margin0auto inlineBlock">
					{{#if detailEdit}}
					{{#ui/mix-button class="user-btn edit-btn" iconClass="fa fa-check"  text='保存' clickParams=merchInfo clickAction="savemerch" savemerch="savemerch"}}
					{{/ui/mix-button}}
					{{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-mail-reply"  text='取消'  clickAction="detailCancel" detailCancel="detailCancel" }}
					{{/ui/mix-button}}
					{{/if}}
				</p>
			</div>
			{{/bs-form}}
		</div>
		<!-- /BOX-BODY -->
	</div>
</div>

{{#if showpopInvitePassModal}}
	{{#bs-modal body=false footer=false header=false closedAction=(action "invitation")
	submitAction=(action "cancelPassSubmit" merchInfo)}}
		{{#bs-modal-header}}
			<h3 class="modal-title">删除提示</h3>
		{{/bs-modal-header}}
		{{#bs-modal-body}}
			<h4 class="modal-title">是否删除该条记录？</h4>
		{{/bs-modal-body}}
		{{#bs-modal-footer as |merch|}}
			{{#bs-button action=(action "cancelPassSubmit" merchInfo) type="primary" disabled=prepaidDisabled}}确定{{/bs-button}}
			{{#bs-button action=(action "invitation") type="default"}}取消{{/bs-button}}
		{{/bs-modal-footer}}
	{{/bs-modal}}
{{/if}}
