<div id="nurLogContainer" class="mainContent border-top-1 {{if global_pageConstructure.showLoader 'hide' ''}}">
  <div class="wrapperInner">
  {{#ui/mobile/gestures-container}}
  {{#if nurLogList}}
    <div class="bgcolor-white">
    {{log "nurLogList hbs" nurLogList}}
    {{#each nurLogList as |nursinglog|}}
      <ul class="nopadding-left margin-0-10px border-bottom-1 height60 position-relative" id="nosinglog_{{nursinglog.id}}" {{action 'theEdit' nursinglog.id nursinglog.recordUser.id on='tap'}}>
        <!-- <li class="center font-big color666">{{dynamics.title}}</li> -->
        <li class="color365472 padding-top8 clear padding-bottom10">
          <div class="pull-left">
            {{#ui/img-intergration name="headImg"
            imgSrc=nursinglog.recordUser.avatarUrl height=40 width=40}}
            {{/ui/img-intergration}}
            {{log "nursinglog.recordUser" nursinglog.recordUser}}
            {{log "nursinglog.recordUser.avatarUrl" nursinglog.recordUser.avatarUrl}}
          </div>
          <ul class="pull-left padding-left-8">
            <li class="font16 font-black">{{nursinglog.recordUser.name}}</li>
            <li class="font12 color999999">{{nursinglog.recordUser.staffTel}}</li>
          </ul>
          {{log "nursinglogremarkHasApplyNum" nursinglog.remarkHasApplyNum}}

          <div class="pull-right color999999">
            <div class="">
              {{nursinglog.recordTimeStringNMddhhmm}}
            </div>
          </div>
        </li>

        {{#if (eq nursinglog.remarkHasApplyNum 1)}}
          <div class="position_absolute" style="bottom:0;right:30%;">
            <img class="" width='60' src="assets/images/mobile/done.png" alt="">
          </div>
        {{else if (eq nursinglog.remarkHasApplyNum 2)}}
          <div class="position_absolute" style="bottom:0;right:30%;">
            <img class="" width='60' src="assets/images/mobile/followup.png" alt="">
          </div>
        {{else if (eq nursinglog.remarkHasApplyNum 3)}}
          <div class="position_absolute" style="bottom:0;right:30%;">
            <img class="" width='60' src="assets/images/mobile/summary.png" alt="">
          </div>
        {{else}}
          <div class="position_absolute" style="bottom:0;right:30%;">
            <img class="" width='60' src="assets/images/mobile/nothing.png" alt="">
          </div>
        {{/if}}

        <!-- <li class="top10 padding-bottom10">{{nursinglog.remarkContent}}</li> -->
      </ul>
    {{/each}}
    </div>
  {{else}}
    {{#if nocustomerId}}
      <div class="center" style="margin-top:40px;">
        请在上方选择老人
      </div>
    {{else}}
      <div class="nodate">暂无数据</div>
    {{/if}}
  {{/if}}


    {{/ui/mobile/gestures-container}}

  </div>

</div>
{{#ui/mobile/gestures-container}}
<div class="detail-dynamicsbtn" id="detail_dynamicsbtn" {{action 'addDynamics' on="tap"}} style="bottom:40px;">
  <img class="bottom2" width='15' src="assets/images/mobile/add.png" alt="">
  <span class="padding-left-10">添加日志</span>
</div>
{{/ui/mobile/gestures-container}}

{{ui/container/infinite-scroll moniteData="nurLogList"
didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
