<div class="col-sm-12">
  <!-- BOX -->
  <div class="box">
    <div class="box-body">
      <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
      	<div class="row">
          <div class="col-sm-12">
        	  <!--搜索-->
            <div class="col-sm-2 nopadding-left">
              {{#power-select class="input-group-content" placeholder='员工' options=employeeList  selected=employee searchField="name"
              noMatchesMessage="没有相关内容"	allowClear=true	onchange=(action "employeeChange" ) as |employeeSelect|}}
                {{employeeSelect.name}}
              {{/power-select}}
            </div>
            <div class="col-sm-2 nopadding-left">
              {{#power-select class="input-group-content" placeholder='房间' options=roomList  selected=room searchField="name"
              noMatchesMessage="没有相关内容"	allowClear=true	onchange=(action "roomChange" ) as |roomSelect|}}
                {{roomSelect.name}}
              {{/power-select}}
            </div>
            <div class="col-sm-8 nopadding-right nopadding-left">
              {{callbusi/time-search class="inline-block" text='按日期查询' dateShow=dateShow chooseDate=chooseDate search="search"
                         submmit="submmit" emptied='emptied' changeBeginDateAction='changeBeginDateAction' changeEndDateAction='changeEndDateAction'}}
            </div>
        </div>
      	</div>
        <table id="datatable1" cellpadding="0" cellspacing="0" border="0"  class="datatable table table-bordered table-hover dataTable" aria-describedby="datatable1_info">
          <thead>
            <tr role="row">
              <th rowspan="1" colspan="1" width="">员工</th>
              <th rowspan="1" colspan="1" width="">日期</th>
              <th rowspan="1" colspan="1" width="">房间</th>
              <th rowspan="1" colspan="1" width="">进入时间</th>
            </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
            {{#each reportList as |report|}}
            <tr>
              <td class="ellipsis">{{report.employee.name}}</td>
              <td class="ellipsis">{{report.createTimeDay}}</td>
              <td class="ellipsis">{{report.room.name}}</td>
              <td class="ellipsis">{{report.createTimeHour}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{#if reportList }}
            {{page-numbers content=reportList showFL=true numPagesToShow=10}}
        {{else}}
                <h1 class="col-sm-12 center unTask"></h1>
        {{/if}}
      </div>
    </div>
  </div>
  <!-- /BOX -->

</div>
