<div class="col-sm-12">
	<!-- BOX -->
	<div class="box">
		<div class="box-body">

			<div class="row">
				{{#bs-form formLayout=formLayout model=roleModel invalid=(action "invalid")}}
        <div class="col-xs-12">
					<p class="user-add-btn inline-block">


						{{#if detailEdit}}
						{{else}}
						{{#unless roleInfo.isAuto}}
							{{#ui/form-function editAction="detailEditClick" detailEditClick="detailEditClick"
							removeAction="delById" delById="delById" clickActParams=roleInfo}}
							{{/ui/form-function}}
						{{/unless}}
						{{/if}}
					</p>
				</div>
				<div class="col-sm-6">
          <div class="col-sm-12 nopadding-horizontal mt20">

            <div class="col-sm-12">
              <div class="form-input-group">
                <span class="input-group-addon">角色名称：</span>
								{{#if detailEdit}}
                  {{bs-form-element property="name" class="inline-block form-input-group label-normal" controlType="name" placeholder='角色名称(必填)'}}
								{{else}}
									<div class="input-group-content">{{roleInfo.name}}</div>
								{{/if}}
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-input-group">
                <span class="input-group-addon">角色描述：</span>
								{{#if detailEdit}}
                  {{bs-form-element property="remark" class="inline-block form-input-group label-normal" controlType="remark" placeholder='角色描述(必填)'}}
								{{else}}
								  <div class="input-group-content">{{roleInfo.remark}}</div>
								{{/if}}
              </div>
            </div>

				</div>
				</div>
				<div class="col-sm-6">
						{{callbusi/role-privileges currentRole=currentRole editMode=editMode saveFlag=saveFlag detailEdit=detailEdit editMode=editMode role=roleInfo}}
				</div>
				{{/bs-form}}
				<div class="col-sm-12">
					<div class="text-center padding-top30">
							<p class="text-center user-add-btn" style="display:inline-block;margin:0 auto!important ">
							{{#if detailEdit}}
							{{#ui/mix-button class="user-btn edit-btn" iconClass="fa fa-check"  text='保存' clickAction='saveRole' saveRole='saveRole'}}
							{{/ui/mix-button}}
							{{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-mail-reply"  text='取消'  clickAction="detailCancel" detailCancel="detailCancel" }}
							{{/ui/mix-button}}
							{{else}}
							{{/if}}
							</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /BOX -->
</div>

{{#if showpopInvitePassModal}}
	{{#bs-modal body=false footer=false header=false }}
		{{#bs-modal-header}}
			<h3 class="modal-title">删除提示</h3>
		{{/bs-modal-header}}
		{{#bs-modal-body}}
			<h4 class="modal-title">是否删除该条记录？</h4>
		{{/bs-modal-body}}

		{{#bs-modal-footer as |footer|}}
			{{#bs-button action=(action "cancelPassSubmit" roleInfo) type="primary" disabled=prepaidDisabled}}确定{{/bs-button}}
			{{#bs-button action=(action "invitation") type="default"}}取消{{/bs-button}}
		{{/bs-modal-footer}}
	{{/bs-modal}}
{{/if}}
