
<div class="col-md-12">
	<div class="box margin-middle max-width">
		<!-- BOX-BODY -->
		<div class="box-body">
			{{#bs-form formLayout=formLayout model=changeModel action=(action "saveChange") invalid=(action "invalid")}}
			<!-- 列表编辑-->
			<div class="row">
				<div class="col-xs-12">
					<p class="user-add-btn">
						{{#if detailEdit}}
						{{else}}
							{{#if isOkEdit}}
							{{#ui/form-function editAction="detailEditClick" detailEditClick="detailEditClick" removeAction="delById" delById="delById" }}
							{{/ui/form-function}}
							{{else}}
							{{/if}}
						{{/if}}
					</p>
				</div>
					<div class="bottom12 col-sm-12 nopadding-left border-bottom" style="height:27px;">
							<strong class="font16 font-black">申请人信息</strong>
					</div>
					<div class="divide-10" style="clear:both" />
					<div class="col-xs-12 nopadding-horizontal">
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">申请人：</span>
								{{#if detailEdit}}
                {{#bs-form-element class="inline-block form-input-group" controlType="customer"  property="customer" }}
                {{#power-select class="inline-block input-group-content" placeholder="必填项" options=customerList selected=defaultCustomer searchField="namePinyin" noMatchesMessage="没有相关内容"
                allowClear=false onchange=(action "selectCustomer" ) as |name|}}
                {{name.name}}
                {{/power-select}}
                {{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{change.customer.name}}</div>
								{{/if}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">生效时间：</span>
								{{#if detailEdit}}
								{{#bs-form-element class="inline-block form-input-group" controlType="effectiveTime" property="effectiveTime" }}
								{{ui/addon/bs-datetimepicker date=changeModel.effectiveDate placeholder="" format='YYYY-MM-DD'
								locale="zh-CN" iconClasses="fa fa-calendar" minDate=today
								show="dpShowAction" change="changeEffectiveAction" }}
								{{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{changeModel.effectiveTimeString}}</div>
								{{/if}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">入住状态：</span>
									<div class="input-group-content">
										{{#if changeModel.newFlowFlag}}
										变更为
										{{else}}
											{{#if changeModel.statusChange}}
											由{{changeModel.customerStatusOld.typename}}变更为
											{{/if}}
										{{/if}}
										{{changeModel.customerStatus.typename}}
									</div>
		          </div>
		        </div>
						<div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">结算类型：</span>
									<div class="input-group-content">
										{{#if changeModel.newFlowFlag}}
										变更为
										{{else}}
											{{#if changeModel.chargeTypeChange}}
											由{{changeModel.chargeTypeOld.typename}}变更为
											{{/if}}
										{{/if}}
										{{changeModel.chargeType.typename}}
									</div>
		          </div>
		        </div>
						<div class="divide-16" style="clear:both" />
						<div class="bottom12 col-sm-12 nopadding-left border-bottom" style="height:27px;">
								<strong class="font16 font-black">床位信息</strong>
						</div>
						<div class="divide-10" style="clear:both" />
						<div class="line">
							<div class="col-xs-12 col-sm-4">
								<div class="form-input-group">
									<span class="input-group-addon">变更前床位：</span>
										<div class="input-group-content">{{changeModel.bedOld.allBedName}}</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
											<span class="input-group-addon">变更前床位参考价格(元/天)：</span>
										{{else}}
											<span class="input-group-addon">变更前床位参考价格(元/月)：</span>
										{{/if}}
									<div class="input-group-content">{{changeModel.bedOldReferencePrice}}</div>
									{{else}}
			            <span class="input-group-addon">变更前床位参考价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.bedOldReferencePrice}}</div>
									{{/if}}
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
											<span class="input-group-addon">变更前床位实际价格(元/天)：</span>
										{{else}}
											<span class="input-group-addon">变更前床位实际价格(元/月)：</span>
										{{/if}}
									<div class="input-group-content">{{changeModel.bedPriceOld}}</div>
									{{else}}
			            <span class="input-group-addon">变更前床位实际价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.bedPriceOld}}</div>
									{{/if}}
			          </div>
			        </div>
					</div>
						<div class="line">
	            <div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后床位：</span>
									{{#if detailEdit}}
	                {{#bs-form-element class="inline-block form-input-group" controlType="bedNew" property="bedNew" }}
											{{callbusi/bed-choose class="inline-block form-input-group" bedShow=bedShow
											selectBed="selectBed"  bedList=bedList}}
	                {{/bs-form-element}}
									{{else}}
										<div class="input-group-content">{{changeModel.bedNew.allBedName}}</div>
									{{/if}}
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
									<span class="input-group-addon">变更后床位参考价格(元/月)：</span>
									<div class="input-group-content">{{changeModel.bedNewReferencePrice}}</div>
									{{else}}
			            <span class="input-group-addon">变更后床位参考价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.bedNewReferencePrice}}</div>
									{{/if}}

			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
									<span class="input-group-addon">变更后床位实际价格(元/月)：</span>
									{{else}}
			            <span class="input-group-addon">变更后床位实际价格(元/天)：</span>
									{{/if}}
									{{#if detailEdit}}
										{{bs-form-element property="bedPriceNew" class="inline-block form-input-group" controlType="bedPriceNew" placeholder=""}}
									{{else}}
										<div class="input-group-content">{{changeModel.bedPriceNew}}</div>
									{{/if}}
			          </div>
			        </div>
					</div>
					<div class="divide-16" style="clear:both" />
						<div class="bottom12 col-sm-12 nopadding-left border-bottom" style="height:27px;">
								<strong class="font16 font-black">餐饮信息</strong>
						</div>
						<div class="divide-10" style="clear:both" />
						<div class="line">
							<div class="col-xs-12 col-sm-4">
								<div class="form-input-group">
									<span class="input-group-addon">变更前餐饮等级：</span>
									<div class="input-group-content">{{changeModel.foodLevelOld.typename}}</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
											<span class="input-group-addon">变更前餐饮参考价格(元/天)：</span>
										{{else}}
											<span class="input-group-addon">变更前餐饮参考价格(元/月)：</span>
										{{/if}}
									<div class="input-group-content">{{changeModel.foodLevelOldReferencePrice}}</div>
									{{else}}
			            <span class="input-group-addon">变更前餐饮参考价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.foodLevelOldReferencePrice}}</div>
									{{/if}}

			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
											<span class="input-group-addon">变更前餐饮实际价格(元/天)：</span>
										{{else}}
											<span class="input-group-addon">变更前餐饮实际价格(元/月)：</span>
										{{/if}}
									{{else}}
			            <span class="input-group-addon">变更前餐饮实际价格(元/天)：</span>
									{{/if}}
									<div class="input-group-content">{{changeModel.foodPriceOld}}</div>
			          </div>
			        </div>
						</div>
						<div class="line">
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后餐饮等级：</span>
									{{#if detailEdit}}
	                {{#bs-form-element class="inline-block form-input-group" controlType="foodLevelNew" property="foodLevelNew" }}
	                    {{callbusi/dict-selector curDict=changeModel.foodLevelNew isTenant=true groupCode=constants.diningStandard showName="" dictSelect="foodLevelNewSelect" value=changeModel.foodLevelNew preselected=false}}
	                {{/bs-form-element}}
									{{else}}
										<div class="input-group-content">{{changeModel.foodLevelNew.typename}}</div>
									{{/if}}
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
									<span class="input-group-addon">变更后餐饮参考价格(元/月)：</span>
									<div class="input-group-content">{{changeModel.foodLevelNewReferencePrice}}</div>
									{{else}}
			            <span class="input-group-addon">变更后餐饮参考价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.foodLevelNewReferencePrice}}</div>
									{{/if}}

			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
									<span class="input-group-addon">变更后餐饮实际价格(元/月)：</span>
									{{else}}
			            <span class="input-group-addon">变更后餐饮实际价格(元/天)：</span>
									{{/if}}
									{{#if detailEdit}}
										{{bs-form-element property="foodPriceNew" class="inline-block form-input-group" controlType="foodPriceNew" placeholder=""}}
									{{else}}
										<div class="input-group-content">{{changeModel.foodPriceNew}}</div>
									{{/if}}
			          </div>
			        </div>
						</div>
						<div class="divide-16" style="clear:both" />
						<div class="bottom12 col-sm-12 nopadding-left border-bottom" style="height:27px;">
								<strong class="font16 font-black">护理信息</strong>
						</div>
						<div class="divide-10" style="clear:both" />
						<div class="line">
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更前护理等级：</span>
									<div class="input-group-content">{{changeModel.nursingLevelOld.name}}</div>
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
											<span class="input-group-addon">变更前护理参考价格(元/天)：</span>
										{{else}}
											<span class="input-group-addon">变更前护理参考价格(元/月)：</span>
										{{/if}}
									<div class="input-group-content">{{changeModel.nursingLevelOldReferencePrice}}</div>
									{{else}}
			            <span class="input-group-addon">变更前护理参考价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.nursingLevelOldReferencePrice}}</div>
									{{/if}}

			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
											<span class="input-group-addon">变更前护理实际价格(元/天)：</span>
										{{else}}
											<span class="input-group-addon">变更前护理实际价格(元/月)：</span>
										{{/if}}
									{{else}}
			            <span class="input-group-addon">变更前护理实际价格(元/天)：</span>
									{{/if}}
										<div class="input-group-content">{{changeModel.projectPriceOld}}</div>
			          </div>
			        </div>
						</div>
						<div class="line">
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后护理等级：</span>
									{{#if detailEdit}}
	                {{#bs-form-element class="inline-block form-input-group" controlType="nursingLevelNew" property="nursingLevelNew" }}
										{{#power-select class="input-group-content" placeholder=changeModel.nursingLevelNew.name options=levelList  selected=changeModel.nursingLevelNew searchField="name"
										noMatchesMessage="没有相关内容"	allowClear=false	onchange=(action "selectLevel" ) as |Level|}}
											{{Level.name}}
										{{/power-select}}
	                {{/bs-form-element}}
									{{else}}
										<div class="input-group-content">{{changeModel.nursingLevelNew.name}}</div>
									{{/if}}
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
									<span class="input-group-addon">变更后护理参考价格(元/月)：</span>
									<div class="input-group-content">{{changeModel.nursingLevelNewReferencePrice}}</div>
									{{else}}
			            <span class="input-group-addon">变更后护理参考价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.nursingLevelNewReferencePrice}}</div>
									{{/if}}

			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
									{{#if chargeTypeFlag}}
									<span class="input-group-addon">变更后护理实际价格(元/月)：</span>
									{{else}}
			            <span class="input-group-addon">变更后护理实际价格(元/天)：</span>
									{{/if}}
									{{#if detailEdit}}
										{{bs-form-element property="projectPriceNew" class="inline-block form-input-group" controlType="projectPriceNew" placeholder=""}}
									{{else}}
										<div class="input-group-content">{{changeModel.projectPriceNew}}</div>
									{{/if}}
			          </div>
			        </div>
						</div>
						<div class="divide-16" style="clear:both" />
						<div class="bottom12 col-sm-12 nopadding-left border-bottom" style="height:27px;">
								<strong class="font16 font-black">总价信息</strong>
						</div>
						<div class="divide-10" style="clear:both" />
						<div class="line">
							<div class="col-xs-12 col-sm-6">
								<div class="form-input-group">
									{{#if chargeTypeFlag}}
										{{#if changeModel.chargeTypeChange}}
										<span class="input-group-addon">变更前总价格(元/天)：</span>
										{{else}}
										<span class="input-group-addon">变更前总价格(元/月)：</span>
										{{/if}}
										<div class="input-group-content">{{changeModel.priceOld}}</div>
									{{else}}
										<span class="input-group-addon">变更前总价格(元/天)：</span>
										<div class="input-group-content">{{changeModel.priceOld}}</div>
									{{/if}}
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-input-group">
									{{#if chargeTypeFlag}}
										<span class="input-group-addon">变更后总价格(元/月)：</span>
										{{#if detailEdit}}
											<div class="input-group-content">{{changeModel.priceNew}}</div>
										{{else}}
											<div class="input-group-content">{{changeModel.priceNew}}</div>
										{{/if}}
									{{else}}
										<span class="input-group-addon">变更后总价格(元/天)：</span>
										{{#if detailEdit}}
											<div class="input-group-content">{{changeModel.priceNew}}</div>
										{{else}}
											<div class="input-group-content">{{changeModel.priceNew}}</div>
										{{/if}}
									{{/if}}
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="padding-top30 center">
				<p class="text-center user-add-btn margin0auto inlineBlock">
					{{#if detailEdit}}
					{{#ui/mix-button class="user-btn edit-btn" iconClass="fa fa-check"  text='保存' }}
					{{/ui/mix-button}}
					{{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-mail-reply"  text='取消'  clickAction="detailCancel" detailCancel="detailCancel" }}
					{{/ui/mix-button}}
					{{/if}}
				</p>
			</div>
			{{/bs-form}}
		</div>
		<!-- /BOX-BODY -->
	</div>
</div>
