{{#ui/mobile/inner-tabbar menus=tabFuncs switchTab="switchTab" serviceListFlag=serviceListFlag clickActFlag=clickActFlag itemXs="col-xs-6" positionClass="abs-top-44 customer-detail" theme="block-mode" showLoadingImgIn=showLoadingImgIn}}
{{/ui/mobile/inner-tabbar}}
{{#if (eq curTabCode 'houseTab')}}
    {{#ui/mobile/gestures-container}}
        <div id="{{infiniteContainerName}}" class="mainContent border-top-1 {{if global_pageConstructure.showLoader 'hide' ''}}">
            <div class="wrapperInner padding-bottom50" style="padding-top:50px;background:#ffffff;">
                {{#if workdeliverySendList}}
                    <div class="bgcolor-white line-item-task col-sm-6 col-xs-12 height-auto bottom-border-plan1">
                        {{#each workdeliverySendList as |dataDetail|}}

                        {{/each}}
                    </div>
                {{else}}
                    <div class="nodate">暂无数据</div>
                {{/if}}
            </div>
        </div>
    {{/ui/mobile/gestures-container}}
    {{ui/container/infinite-scroll moniteData=infiniteContentPropertyName didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
{{/if}}
{{#if (eq curTabCode 'skillTab')}}
    {{#ui/mobile/gestures-container}}
        <div id="{{infiniteContainerName}}" class="mainContent border-top-1 {{if global_pageConstructure.showLoader 'hide' ''}}">
            <div class="wrapperInner padding-bottom50" style="padding-top:50px;background:#ffffff;">
                <div id="scrollFlagId" style="height:1px; width:100%;"></div>
                {{#if skillList}}
                    <ul class="profile">
                        {{#each skillList as |dataDetail|}}
                            <li class=" carousel color666 border-top-1 border-bottom-1" id="item_{{dataDetail.id}}" {{action "gotoMarketSkillDetail" "receive" dataDetail on="tap"}}>
                                <i class="profile-i"><img class="a-img" src="assets/images/mobile/settings.png"/></i>
                                <span class="profile-span">标题:{{dataDetail.titleString}} </span>
                                <i class="fa-angle-right font20 my-right color-ccc"></i>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <div class="nodate">暂无数据</div>
                {{/if}}
            </div>
            <div class="detail-dynamicsbtn bottom40" id="" {{action 'addMarketSkill' on="tap"}}>
              <img class="bottom2" width='15' src="assets/images/mobile/add.png" alt="">
              <span class="padding-left-10">添加话术</span>
            </div>
        </div>
    {{/ui/mobile/gestures-container}}
    {{ui/container/infinite-scroll moniteData=infiniteContentPropertyName didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
{{/if}}
{{#if (eq curTabCode 'standardTab')}}
    {{#ui/mobile/gestures-container}}
        <div id="{{infiniteContainerName}}" class="mainContent border-top-1 {{if global_pageConstructure.showLoader 'hide' ''}}">
            <div class="wrapperInner padding-bottom50" style="padding-top:50px;background:#ffffff;">
                <div id="scrollFlagId" style="height:1px; width:100%;"></div>
                {{#if standardList}}
                    <ul class="profile">
                        {{#each standardList as |dataDetail|}}
                            <li class=" carousel color666 border-top-1 border-bottom-1" id="item_{{dataDetail.id}}" {{action "gotoChargingStandardDetail" "receive" dataDetail on="tap"}}>
                                <i class="profile-i"><img class="a-img" src="assets/images/mobile/settings.png"/></i>
                                <span class="profile-span">标题:{{dataDetail.titleString}} </span>
                                <i class="fa-angle-right font20 my-right color-ccc"></i>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <div class="nodate">暂无数据</div>
                {{/if}}
            </div>
            <div class="detail-dynamicsbtn bottom40" id="" {{action 'addChargingStandard' on="tap"}}>
              <img class="bottom2" width='15' src="assets/images/mobile/add.png" alt="">
              <span class="padding-left-10">添加标准</span>
            </div>
        </div>
    {{/ui/mobile/gestures-container}}
    {{ui/container/infinite-scroll moniteData=infiniteContentPropertyName didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
{{/if}}
