
<div class="col-md-12">
	<div class="box margin-middle max-width">
		<!-- BOX-BODY -->
		<div class="box-body">
			{{#bs-form formLayout=formLayout model=changeModel action=(action "saveChange") invalid=(action "invalid")}}
			<!-- 列表编辑-->
			<div class="row">
				<div class="col-xs-12">
					<p class="user-add-btn">
						{{#if detailEdit}}
						{{else}}
							{{#if isOkEdit}}
							{{#ui/form-function editAction="detailEditClick" detailEditClick="detailEditClick" removeAction="delById" delById="delById" }}
							{{/ui/form-function}}
							{{else}}
							{{/if}}
						{{/if}}
					</p>
				</div>
					<div class="col-xs-12 nopadding-horizontal mt20">
            <!-- <div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">创建时间：</span>
								{{#if detailEdit}}
										{{ui/addon/bs-datetimepicker date=changeModel.createDate placeholder="创建时间"
											locale="zh-CN" iconClasses="fa fa-calendar" format='YYYY-MM-DD'
											value=changeModel.createDate show="dpShowAction" change="changeCreateDateAction" }}
								{{else}}
									<div class="input-group-content">{{changeModel.createDateString}}</div>
								{{/if}}
							</div>
						</div> -->
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">申请人：</span>
								{{#if detailEdit}}
                {{#bs-form-element class="inline-block form-input-group" controlType="customer"  property="customer" }}
                {{#power-select class="inline-block input-group-content" placeholder="必填项" options=customerList selected=defaultCustomer searchField="namePinyin" noMatchesMessage="没有相关内容"
                allowClear=false onchange=(action "selectCustomer" ) as |name|}}
                {{name.name}}
                {{/power-select}}
                {{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{change.customer.name}}</div>
								{{/if}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">入住状态：</span>
									<div class="input-group-content">{{change.customer.customerStatus.typename}}</div>
		          </div>
		        </div>
						<div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">变更前护理价格：</span>
									<div class="input-group-content">{{changeModel.projectPriceOld}}</div>
		          </div>
		        </div>
						<div class="col-xs-12 col-sm-3">
		          <div class="form-input-group">
		            <span class="input-group-addon">变更后护理价格：</span>
								{{#if detailEdit}}
									{{bs-form-element property="projectPriceNew" class="inline-block form-input-group" controlType="projectPriceNew" placeholder=""}}
								{{else}}
									<div class="input-group-content">{{change.projectPriceNew}}</div>
								{{/if}}
		          </div>
		        </div>
						<div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">变更前床位：</span>
									<div class="input-group-content">{{changeModel.bedOld.allBedName}}</div>
		          </div>
		        </div>
						<div class="line">
	            <div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后床位：</span>
									{{#if detailEdit}}
	                {{#bs-form-element class="inline-block form-input-group" controlType="bedNew" property="bedNew" }}
											{{callbusi/bed-choose class="inline-block form-input-group" bedShow=bedShow
											selectBed="selectBed"  bedList=bedList}}
	                {{/bs-form-element}}
									{{else}}
										<div class="input-group-content">{{changeModel.bedNew.allBedName}}</div>
									{{/if}}
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后床位参考价格：</span>
										<div class="input-group-content">{{changeModel.bedNew.price}}</div>
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后床位实际价格：</span>
									{{#if detailEdit}}
										{{bs-form-element property="bedPriceNew" class="inline-block form-input-group" controlType="bedPriceNew" placeholder=""}}
									{{else}}
										<div class="input-group-content">{{change.bedPriceNew}}</div>
									{{/if}}
			          </div>
			        </div>
					</div>
					<div class="line">
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">变更前餐饮等级：</span>
								<div class="input-group-content">{{changeModel.foodLevelOld.typename}}</div>
							</div>
						</div>
					</div>
						<div class="line">
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后餐饮等级：</span>
									{{#if detailEdit}}
	                {{#bs-form-element class="inline-block form-input-group" controlType="foodLevelNew" property="foodLevelNew" }}
	                    {{callbusi/dict-selector curDict=changeModel.foodLevelNew isTenant=true groupCode=constants.diningStandard showName="" dictSelect="foodLevelNewSelect" value=changeModel.foodLevelNew preselected=false}}
	                {{/bs-form-element}}
									{{else}}
										<div class="input-group-content">{{changeModel.foodLevelNew.typename}}</div>
									{{/if}}
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后餐饮参考价格：</span>
										<div class="input-group-content">{{changeModel.foodLevelNew.typeValue}}</div>
			          </div>
			        </div>
							<div class="col-xs-12 col-sm-4">
			          <div class="form-input-group">
			            <span class="input-group-addon">变更后餐饮实际价格：</span>
									{{#if detailEdit}}
										{{bs-form-element property="foodPriceNew" class="inline-block form-input-group" controlType="foodPriceNew" placeholder=""}}
									{{else}}
										<div class="input-group-content">{{change.foodPriceNew}}</div>
									{{/if}}
			          </div>
			        </div>
						</div>


            <div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">变更前价格(元/天)：</span>
									<div class="input-group-content">{{changeModel.priceOld}}</div>
		          </div>
		        </div>
            <div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">变更后价格(元/天)：</span>
								{{#if detailEdit}}
									<div class="input-group-content">{{changeModel.priceNew}}</div>
								{{else}}
									<div class="input-group-content">{{change.priceNew}}</div>
								{{/if}}
		          </div>
		        </div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">生效时间：</span>
								{{#if detailEdit}}
								{{#bs-form-element class="inline-block form-input-group" controlType="effectiveTime" property="effectiveTime" }}
								{{ui/addon/bs-datetimepicker date=changeModel.effectiveDate placeholder="" format='YYYY-MM-DD'
								locale="zh-CN" iconClasses="fa fa-calendar" minDate=today
								show="dpShowAction" change="changeEffectiveAction" }}
								{{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{changeModel.effectiveTimeString}}</div>
								{{/if}}
							</div>
						</div>
            <!-- <div class="col-xs-12 col-sm-6">
		          <div class="form-input-group">
		            <span class="input-group-addon">变更状态：</span>
								{{#if detailEdit}}
                {{#bs-form-element class="inline-block form-input-group" controlType="status"  property="status" }}
									{{callbusi/dict-selector curDict=changeModel.status groupCode=constants.applyStatus
                    showName="变更状态" dictSelect="statusSelect" value=changeModel.status preselected=false}}
									{{/bs-form-element}}
								{{else}}
									<div class="input-group-content">{{change.status.typename}}</div>
								{{/if}}
		          </div>
		        </div> -->
					</div>
			</div>
			<!-- 列表编辑 -->
			<!-- <div class="col-sm-12">
			<div class="text-center padding-top20">
					<p class="text-center user-add-btn" style="display:inline-block;margin:0 auto!important ">
					{{#if detailEdit}}
					{{#ui/mix-button class="user-btn edit-btn" iconClass="fa fa-check"  text='保存'}}
					{{/ui/mix-button}}
					{{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-mail-reply"  text='取消'  clickAction="detailCancel" detailCancel="detailCancel" }}
					{{/ui/mix-button}}
					{{else}}
					{{/if}}
					</p>
			</div>
			</div> -->
			<div class="padding-top30 center">
				<p class="text-center user-add-btn margin0auto inlineBlock">
					{{#if detailEdit}}
					{{#ui/mix-button class="user-btn edit-btn" iconClass="fa fa-check"  text='保存' }}
					{{/ui/mix-button}}
					{{#ui/mix-button class="user-btn times-btn" iconClass="fa fa-mail-reply"  text='取消'  clickAction="detailCancel" detailCancel="detailCancel" }}
					{{/ui/mix-button}}
					{{/if}}
				</p>
			</div>
			{{/bs-form}}
		</div>
		<!-- /BOX-BODY -->
	</div>
</div>
