<div id="warningTaskDetailContainer" class="mainContent">
  <div class="wrapperInner">
    {{#ui/mobile/gestures-container}}

    <div class="finished-detail">
      <div class="title clearfix">
        <div class="content">{{serviceItem.customerName}}
          <span class="color666666 padding-left-10">
            {{serviceItem.bedName}}
          </span>
        </div>
      </div>
      <div class="border-top-bottom-1 height35">
        <span class="task-detail-split"></span>
        <span class="font14">任务信息</span>
      </div>
      <div class="bk-color-white padding-left-10 height80">
        <div class="padding-top15 font16 font-black">{{serviceItem.title}}</div>
        <div class="color999999 padding-top15 font12">详情：{{serviceItem.desc}}</div>
      </div>
      <div class="border-top-bottom-1 height35">
        <span class="task-detail-split"></span>
        <span class="font14">执行情况</span>
      </div>
      <div class="clearfix">
        <div class="finish-tag  padding-left-10 bk-color-white padding-right-10 padding-bottom15">
          {{#if resultList}}
            <div class="clearfix" style="padding-bottom:13px;">
              {{#each resultList  as |item|}}
                <div class="tag width120 exeStatus2 {{if item.exehasSelect 'selected' ''}}" {{action "tagResultChoice" item.id item.name item on="tap"}}>{{item.name}}</div>
              {{/each}}
            </div>
          {{/if}}
          <div class="" >
            {{textarea class="" placeholder="请输入备注信息" value=serviceItem.serviceDesc}}
          </div>
        </div>
        {{ui/mobile/task-detail-button needDoubleClickPrevent=true touchStartAction="saveDetail" saveDetail="saveDetail" butContent="确定" outerClass="taskDetailBut"}}
      </div>
  </div>
  {{/ui/mobile/gestures-container}}
  </div>
</div>
{{ui/container/infinite-scroll moniteData=""
didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
