{{#ui/mobile/gestures-container}}
    <div id="workdeliveryViewContainer" class="mainContent border-top-1  {{if global_pageConstructure.showLoader 'hide' ''}}">
        <div class="wrapperInner padding-bottom50">
            {{#if workdeliveryList}}
                <div class="bgcolor-white line-item-task col-sm-6 col-xs-12 height-auto bottom-border-plan1">
                    {{#each workdeliveryList as |dataDetail|}}
                        <div itemId="{{dataDetail.id}}" name="listContainer" class="contentArea contentAreaList width100B">
                            {{#if dataDetail.status}}
                                <div class="finish-tag" style="right:-62px;font-size:12px;">状态:{{dataDetail.status.typename}}</div>
                            {{else}}
                                <div class="detail extend color999999"></div>
                            {{/if}}
                            <!-- <div class="col-xs-middle time-content nopadding-horizontal width100B clearfix position-relative" id="item_{{item.id}}" > -->
                            <div class="col-xs-middle time-content nopadding-horizontal width100B clearfix position-relative" id="item_{{dataDetail.id}}" {{action "gotoWorkdeliveryDetail" "view" dataDetail on="tap"}}>
                                <div class="title pull-left" style="width:105px;">
                                  <div class="time-label color2FA7FD" style="font-size:14px;">{{dataDetail.createDateStringBefore}}</div>
                                  <div class="time-label color2FA7FD" style="font-size:14px; margin-top:0;">{{dataDetail.createDateStringAfter}}</div>
                                </div>
                                <div class="item-split" style="margin: 16px 0; height: 46px;"></div>
                                <div class="content clearfix padding-left-114 width100B position_absolute" style="float:none;">
                                    <div class="user-info font16" style="margin-top:0;"> <span class="font12 color999999">交班人：</span>{{dataDetail.sender.name}}</div>
                                    <div class="user-info font16" style="margin-top:0;"> <span class="font12 color999999">接班人：</span>{{dataDetail.receiver.name}}</div>
                                    <div class="user-info font16" style="margin-top:0;"> <span class="font12 color999999">注意事项：</span>{{dataDetail.specialRemarkString}}</div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <div class="nodate">暂无数据</div>
            {{/if}}
        </div>
    </div>
{{/ui/mobile/gestures-container}}
{{ui/container/infinite-scroll moniteData="workdeliveryList" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
