<div class="row hovertype">
  <div class="col-sm-2 font-larger">
      {{#if call.isCallin}}
      <!-- <i class="fa-sign-in"></i> -->
      <i><img src="assets/images/callin.png" alt=""/></i>
      {{else}}
      <!-- <i class="fa-sign-out"></i> -->
      <i><img src="assets/images/callout.png" alt=""/></i>
      {{/if}}
  </div>
  <div class="col-sm-10">
    <div class="row top4">
      {{#if (eq origin "2")}}
        <div class="col-sm-6 body-text-color">
          {{call.customerNumberHidden}}
        </div>
      {{else}}
        <div class="col-sm-6 body-text-color">
          {{call.customerNumber}}
        </div>
      {{/if}}
        <div class="col-sm-6 pull-right text-right main-text-color">
          {{call.createTimeStr}}
        </div>
    </div>
    <div class="row top4">
      <div class="col-sm-6 body-text-color">{{call.customer.name}}</div>
      <div class="col-sm-6 pull-right text-right main-text-color">{{call.durationDisplay}}</div>
    </div>
    <div class="row top4">
      <div class="col-sm-12 main-text-color">{{call.agent.name}}[{{call.csNumber}}]</div>
    </div>
  </div>
</div>
