<!-- <div class="fullwidth nopadding-left nopadding-right {{if bigFlag 'changeLarge' 'changeSmall'}}"  name='containerId'> -->
<div class="fullwidth nopadding-left nopadding-right"  name='containerId'>
    <div class="box border blue" style="padding:0px;margin-bottom:0px;{{if chartContainer '' 'overflow-x:auto'}}; ">
      {{callbusi/header-echart setClickFlag=false titleShow=titleShow listContainer=listContainer chartContainer=chartContainer listClick="listClick" chartClick="chartClick" bigClick="bigClick"}}
        <div class="box-body" style="padding-left:0px;pading-right:0px;margin-top:0px;">
            <div name='echartContainer' style="{{if bigFlag 'height:380px;' 'height:280px;'}} " class="text-center {{if chartContainer '' 'hidden'}}"></div>
            <div class="{{if listContainer '' 'hidden'}}">
                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-bordered table-hover dataTable mt15" aria-describedby="datatable1_info">
                    <thead>
                        <tr role="row">
                            <th rowspan="2" colspan="1" width="" class="center">时间</th>
                            {{log "serviceLevelListLength" serviceLevelListLength}}
                            {{#each employeeArr as |employee index|}}
                                <th rowspan="1" colspan="{{serviceLevelListLength}}" width="" class="center">{{employee.name}}</th>
                            {{/each}}
                        </tr>
                        <tr role="row">
                          {{#each employeeArr as |employee index|}}
                            {{#each serviceLevelList as |serviceLevel index|}}
                              <th rowspan="1" colspan="1" width="" class="center">{{serviceLevel.name}}</th>
                            {{/each}}
                            <th rowspan="1" colspan="1" width="" class="center">总计</th>
                          {{/each}}
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all" class="" id='{{echartId}}'>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
