<div class="busi-info">
    <div class="box-body">
    <div>这里显示该老人最近3天的护理记录，查看更多请前往：护理管理/护理记录</div>
    <div id="" class="dataTables_wrapper form-inline" role="grid">
      <table id="datatable1" cellpadding="0" cellspacing="0" border="0"  class="datatable table table-bordered table-hover dataTable nomargin-vertical" aria-describedby="datatable1_info">
        <thead>
          <tr role="row">
            <th rowspan="1" colspan="1" width="">老人姓名</th>
            <th rowspan="1" colspan="1" width="">执行人</th>
            <th rowspan="1" colspan="1" width="">项目名称</th>
            <th rowspan="1" colspan="1" width="">记录时间</th>
            <th rowspan="1" colspan="1" width="">执行结果</th>
            <th rowspan="1" colspan="1" width="">备注</th>
          </tr>
        </thead>
        {{#if planProjectList}}
      <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
          {{#each planProjectList as |planProject|}}
          <tr>
            <td class="ellipsis" >{{planProject.itemProject.project.customer.name}}</td>
            <td class="ellipsis" >{{planProject.exeStaff.name}}</td>
            <td class="ellipsis" >{{planProject.serviceName}}</td>
            <td class="ellipsis">{{planProject.planStartTimeString}}</td>
            <td class="ellipsis">{{planProject.finishLevel.name}}</td>
            <td style="max-width:200px;"><div  class="nowrap">{{planProject.remarkStr}}</div></td>
          </tr>

          {{/each}}
       </tbody>
       {{else}}
       <div class="nodate">暂无数据</div>
       {{/if}}
        </table>
      </div>
    </div>
  <!-- /BOX -->
</div>
