<div class="col-sm-12">
    <div class="box-body">
    <div  class="dataTables_wrapper form-inline" role="grid">
      <table id="datatable1" cellpadding="0" cellspacing="0" border="0"  class="datatable table table-bordered table-hover dataTable mt15" aria-describedby="datatable1_info">
        <thead>
          <tr role="row">
            <th rowspan="1" colspan="1" width="">姓名</th>
            <th rowspan="1" colspan="1" width="">性别</th>
            <th rowspan="1" colspan="1" width="">年龄</th>
            <th rowspan="1" colspan="1" width="">自理能力</th>
            <th rowspan="1" colspan="1" width="">房间/床位号</th>
            <th rowspan="1" colspan="1" width="">护理级别</th>
            <th rowspan="1" colspan="1" width="">护理组</th>
          </tr>
        </thead>
        {{#if cusList}}
      <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
          {{#each cusList as |customer|}}
          <tr class="gradeA odd" {{action "goDetail" customer on="click"}}>
            <td class=" ellipsis sorting_1">{{customer.name}}</td>
            <td class=" ellipsis ">{{customer.sex.typename}}</td>
            <td class=" ellipsis ">{{customer.age}}</td>
            <td class=" ellipsis">{{customer.selfCareAbility.typename}}</td>
            <td class=" ellipsis ">{{customer.realBed.allBedName}}</td>
            <td class="ellipsis">{{customer.nursinglevelName}}</td>
      	    <td class="ellipsis">{{customer.groupsName}}</td>
      	  </tr>
          {{/each}}
       </tbody>
       {{else}}
       <div class="nodate">暂无数据</div>
       {{/if}}
        </table>
      </div>
    </div>
  <!-- /BOX -->
</div>
