<div class="box-body col-sm-12">
<div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <div class="row">
    <!--搜索-->
      <div class="user-add-btn col-sm-3 pull-right nopadding-right">
          {{#ui/mix-button class="user-btn pull-right" iconClass="fa-plus" text='新增膳食方案' clickAction="toDetailPage" toDetailPage="toDetailPage" style="padding-right:0px;margin-right:0px;" }}
          {{/ui/mix-button}}
      </div>
    <!--搜索-->
  </div>
  <table id="datatable1" cellpadding="0" cellspacing="0" border="0"  class="datatable table table-bordered table-hover dataTable mt15" aria-describedby="datatable1_info">
    <thead>
      <tr role="row">
        <th rowspan="1" colspan="1" width="">方案名称</th>
        <th rowspan="1" colspan="1" width="">方案内容</th>
        <th rowspan="1" colspan="1" width="">创建时间</th>
      </tr>
    </thead>
    {{#if dietList}}
  <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
      {{#each dietList as |diet|}}
      <tr class="gradeA odd" {{action "toDetailPage" diet on="click"}}>
        <td class=" ellipsis sorting_1">{{diet.title}}</td>
        <td class=" ellipsis sorting_1">{{diet.contents}}</td>
        <td class=" ellipsis">{{diet.createTimeStr}}</td>
      </tr>
      {{/each}}
   </tbody>
   {{else}}
   <div class="nodate">暂无数据</div>
   {{/if}}
    </table>
    {{#if dietList }}
        {{page-numbers content=dietList showFL=true numPagesToShow=5}}
        {{else}}
            <h1 class="col-sm-12 center unTask"></h1>
    {{/if}}
  </div>
</div>
