<div class="box-body">
<div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <div class="row">
    <!--搜索-->
      <!-- <div class="user-add-btn col-sm-3 pull-right nopadding-right">
          {{#ui/mix-button class="user-btn pull-right" iconClass="fa-plus" text='新增膳食方案' clickAction="toDetailPage" toDetailPage="toDetailPage" style="padding-right:0px;margin-right:0px;" }}
          {{/ui/mix-button}}
      </div> -->
    <!--搜索-->
  </div>
  <table id="datatable1" cellpadding="0" cellspacing="0" border="0"  class="datatable table table-bordered table-hover dataTable mt15" aria-describedby="datatable1_info">
    <thead>
      <tr role="row">
        <th rowspan="1" colspan="1" width="">老人姓名</th>
        <th rowspan="1" colspan="1" width="">运动类型</th>
        <th rowspan="1" colspan="1" width="">运动时间</th>
        <th rowspan="1" colspan="1" width="">创建时间</th>
      </tr>
    </thead>
    {{#if sportsList}}
  <tbody role="alert" aria-live="polite" aria-relevant="all" class="">
      {{#each sportsList as |sports|}}
      <tr class="gradeA odd">
        <td class=" ellipsis sorting_1">{{sports.customer.name}}</td>
        <td class=" ellipsis sorting_1">{{sports.sportType.typename}}</td>
        <td class=" ellipsis">{{sports.sportTime}}分钟</td>
        <td class=" ellipsis sorting_1">{{sports.createTimeStr}}</td>
      </tr>
      {{/each}}
   </tbody>
   {{else}}
   <div class="nodate">暂无数据</div>
   {{/if}}
    </table>
    {{#if sportsList }}
        {{page-numbers content=sportsList showFL=true numPagesToShow=5}}
        {{else}}
            <h1 class="col-sm-12 center unTask"></h1>
    {{/if}}
  </div>
</div>
