<div class="busi-info ">
    {{#bs-form formLayout=formLayout model=vipModel action=(action "detailSaveClick") invalid=(action "invalid")}}
        <div class="sign col-sm-12 nopadding-horizontal top8 bottom12">
            <div class="pull-right user-add-btn nopadding-left ">
                {{#if addMode}}
                    <!-- {{#ui/mix-button class=" user-btn edit-btn" iconClass="fa-check" text='保存' }}
                        {{/ui/mix-button}}
                        {{#ui/mix-button class=" user-btn times-btn" iconClass="fa fa-mail-reply" text='取消' clickAction="cancelClick" cancelClick="cancelClick" }}
                        {{/ui/mix-button}} -->
                {{else}}
                    {{#if detailModify}}
                        <!-- {{#ui/mix-button class=" user-btn edit-btn" iconClass="fa-check" text='保存' }}
                        {{/ui/mix-button}}
                        {{#ui/mix-button class=" user-btn times-btn" iconClass="fa fa-mail-reply" text='取消' clickAction="cancelClick" cancelClick="cancelClick" }}
                        {{/ui/mix-button}} -->
                    {{else}}
                        {{#ui/form-function editAction="detailModifyClick" detailModifyClick="detailModifyClick" removeAction="delById" delById="delById" }}
                        {{/ui/form-function}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <div style="clear:both" />
        <div class="line">
            <div class="col-xs-12 col-sm-6 nopadding-left ">
                <div class="form-input-group label-normal">
                    <span class="input-group-addon s">会员编号：</span>
                    {{#if detailModify}}
                        {{bs-form-element property="vipNum" class="inline-block form-input-group" controlType="vipNum" placeholder=""}}
                    {{else}}
                        <div class="font-light input-group-content">{{vipModel.vipNum}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-input-group label-normal">
                    <span class="input-group-addon">会员等级：</span>
                    {{#if detailModify}}
                        {{#bs-form-element class="inline-block form-input-group" controlType="level" property="level" }}
                            {{callbusi/dict-selector curDict=vipModel.level  groupCode=constants.vipLevel showName="" dictSelect="levelSelect" value=vipModel.sex preselected=false}}
                        {{/bs-form-element}}
                    {{else}}
                        <div class="font-light input-group-content">{{vipModel.level.typename}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="line">
            <div class="col-xs-12 col-sm-6 nopadding-left ">
                <div class="form-input-group label-normal">
                    <span class="input-group-addon s">会员活跃：</span>
                    {{#if detailModify}}
                        {{bs-form-element property="active" class="inline-block form-input-group" controlType="active" placeholder=""}}
                    {{else}}
                        <div class="font-light input-group-content">{{vipModel.active}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-input-group label-normal">
                    <span class="input-group-addon">会员积分：</span>
                    {{#if detailModify}}
                        {{bs-form-element property="points" class="inline-block form-input-group" controlType="points" placeholder=""}}
                    {{else}}
                        <div class="font-light input-group-content">{{vipModel.points}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="text-center padding-top30 padding-bottom100">
                <p class="text-center user-add-btn" style="display:inline-block;margin:0 auto!important ">
                    {{#if detailModify}}
                        {{#ui/mix-button class=" user-btn edit-btn " iconClass="fa-check" text='保存' }}
                        {{/ui/mix-button}}
                        {{#ui/mix-button class=" user-btn times-btn " iconClass="fa fa-mail-reply" text='取消' clickAction="cancelClick" cancelClick="cancelClick" }}
                        {{/ui/mix-button}}
                    {{else}}
                    {{/if}}
                </p>
            </div>
        </div>
    {{/bs-form}}
</div>
