<div itemId="{{item.id}}" name="listContainer" class="contentArea contentAreaList width100B" {{action 'showDelBut' on="press"}}>
  <div class="col-xs-middle time-content nopadding-horizontal width100B clearfix position-relative" id="assessment_{{item.id}}"  {{action "gotoDetail" on="tap"}}>
    <div class="title pull-left" style="width:105px;">
      <div class="time-label color2FA7FD font14">{{item.examiner.name}}</div>
      <div class="task-title extend color333333 font14">{{item.examTimeString}}</div>
    </div>
    <div class="item-split"></div>
    <div class="content clearfix padding-left-114 width100B position_absolute" style="float:none;">
      {{#if item.point}}
        <div class="detail extend color666666 font14 line-height-20 margin-top-8">总分数:{{item.point}}分</div>
      {{else}}
        <div class="detail extend color666666 font14 line-height-20 margin-top-8">总分数:暂未评分</div>
      {{/if}}
      <div class="detail extend color666666 font14 line-height-20">考核类型:{{item.type.typename}}</div>
    </div>
  </div>

</div>
{{#if showDelButFlag}}
  <div class="width100B height100B position_absolute bk-color-000000-D5" style="top:0;left:0;" {{action 'hideDelBut' on="tap"}}>
  </div>
  <div class="width80 height34 font14 line-height-34 header-text-color bk-color-2FA7FD position_absolute abs-top-50B abs-left-50B margin-left-f40 margin-top-f17 border-radius3 center"
  {{action 'delItemAction' item on="tap"}}>删除</div>
{{/if}}
