<!-- 如果为功能区页面,则不显示headerbar -->
{{#unless (eq isSquare 0)}}
<mobile-header class="mobile-logo-env center {{if hasBoxShadow "mobile-box-shadow" ""}}">
  {{#if backRoutePath}}
    <div class="line-height-44 center header-title">
      {{title}}
    </div>
  {{else}}
      {{log "isSquare:" isSquare}}
      {{#if (eq isSquare 8)}}
        <div class="line-height-44 center header-title">
          {{title}}
        </div>
      {{else if (eq isSquare 14)}}
        <div class="line-height-44 center header-title">
          {{title}}
        </div>
      {{else if (eq isSquare 15)}}
        <div class="line-height-44 center header-title">
          {{title}}
        </div>
        {{callbusi/mobile/switch-date}}
      {{else if (eq isSquare 11)}}
        {{callbusi/mobile/chart-data-select }}
      {{else}}
      <!-- 显示老人选择控件 -->
        {{log "global_curStatus HBS queryCusObj" global_curStatus.queryCusObj global_curStatus.serveCustomerId}}
        {{#callbusi/customer-selecter serveCustomerSelected=global_curStatus.serveCustomer healtyCustomerSelected=global_curStatus.healtyCustomer
            logCustomerSelected=global_curStatus.logCustomer attendanceEmployeeSelected=global_curStatus.attendanceEmployee isSquare=isSquare
            serveCustomerId=global_curStatus.serveCustomerId healtyCustomerId=global_curStatus.healtyCustomerId logCustomerId=global_curStatus.logCustomerId
            attendanceEmployeeId=global_curStatus.attendanceEmployeeId queryCusObj=global_curStatus.queryCusObj isExpandMode=isExpandMode routeId=routeId}}
        {{/callbusi/customer-selecter}}
        {{#if (eq isSquare 12)}}
          {{#if hasDateSelect}}
            <div class="time-search-mobile">
              {{#if global_curStatus.attendanceEmployeeId}}
                {{#callbusi/mobile/time-search-mobile searchTimeChange="searchTimeChange"}}
                {{/callbusi/mobile/time-search-mobile}}
              {{/if}}
            </div>
          {{/if}}
        {{else if (eq isSquare 7)}}
          {{callbusi/mobile/switch-service routeId=routeId}}
        {{else}}
          <div class="header-bar-scan" id="{{routeId}}-scan" {{action "header_Scan" on="tap"}}>
            <img class="" style="width:20px;height:20px" src="assets/images/icon/scan.png"/>
          </div>
        {{/if}}
      {{/if}}
  {{/if}}

  <div class="mobile-logo">
    {{log "backRoutePath in hbs:" backRoutePath}}
    {{log "currentMobileFunctionsNums in hbs:" currentMobileFunctionsNums}}
    {{log "routeId in hbs:" routeId}}
    {{#if backRoutePath}}
      <div id="{{routeId}}-pageBackBtn" class="pull-left marginLeft0" {{action "transPage" on="tap"}}>
        <a class="the-a" href="javascript:void(0)">
          <i class="fa-angle-left header-text-color fontSize20"></i> &nbsp;
        </a>
      </div>
    {{else}}
      {{log "is not backRoutePath"}}
      {{#if currentMobileFunctionsNums}}
        <div id="{{routeId}}-pageBackBtn" class="pull-left marginLeft0 topF3" {{action "transPage" "function-page" on="tap"}}>
          <a class="the-a" href="javascript:void(0)">
            <i class="fa-home header-text-color font20"></i> &nbsp;
          </a>
        </div>
      {{/if}}
    {{/if}}

  </div>
</mobile-header>
{{/unless}}
