<div itemId="{{item.id}}" name="servicecheckContainer" class="contentArea contentAreaList width100B" {{action 'showDelBut' on="press"}}>
  <div class="col-xs-middle time-content nopadding-horizontal width100B clearfix position-relative" id="serviceCheck_{{item.id}}" {{action "gotoDetail" on="tap"}}>
    <div class="title pull-left" style="width:105px;line-height:68px;">
      <div class="task-title extend color333333 font14">{{item.createTimeStr}}</div>
    </div>
    <div class="item-split"></div>
    <div class="content clearfix padding-left-114 width100B position_absolute" style="float:none;">
      <div class="detail extend color666666 font14 line-height-20 margin-top-8">检查内容:
        {{#if item.item.typename}}
        {{item.item.typename}}
        {{else}}
        未填写
        {{/if}}
      </div>
      <div class="detail extend color666666 font14 line-height-20">检查结果:
        {{#if item.remark}}
        {{item.remark}}
        {{else}}
        未填写
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if showDelButFlag}}
  <div class="width100B height100B position_absolute bk-color-000000-D5" style="top:0;left:0;" {{action 'hideDelBut' on="tap"}}>
  </div>
  <div class="width80 height34 font14 line-height-34 header-text-color bk-color-2FA7FD position_absolute abs-top-50B abs-left-50B margin-left-f40 margin-top-f17 border-radius3 center"
  {{action 'delItemAction' item on="tap"}}>删除</div>
{{/if}}
