{{#if isMobile}}
  <!--移动端header-->
  {{#unless global_curStatus.isJujia}}
    {{log "cus-pickerHBS business" queryCustomer}}
  {{else}}
    {{#callbusi/mobile/header-bar-jujia transPage="changeMainPage"}}
    hasntApplyed=hasntApplyed
    {{/callbusi/mobile/header-bar-jujia}}
  {{/unless}}
  <!--移动端主页面-->
  <div class="page-container top-base">
    {{outlet}}
  </div>
  <!--移动端底部菜单-->
  {{#unless global_curStatus.isJujia}}
    {{log "mobileMenus" mobileMenus}}
    {{#if mobileMenus.length}}
      {{#foot-bar menus=mobileMenus changeMainPage="changeMainPage" isConsumer=global_curStatus.isConsumer}}
      {{/foot-bar}}
    {{/if}}
  {{else}}
    {{log "mobileMenus" mobileMenus}}
    {{#foot-bar-jujia menus=mobileMenus changeMainPage="changeMainPage"}}
    {{/foot-bar-jujia}}
  {{/unless}}
  <!-- 提示条部分 -->
  <div id="footerTor" class="footerMsg center col-xs-12">
    <div class="col-xs-1 transparent">.</div><div class="col-xs-10">{{toriseMessage}}</div>
  </div>
  <!-- select-bar提示条部分 -->
  <div id="selectBarTor" class="selectBarMsg center col-xs-12">{{selectBarMessage}}</div>
{{else}}
  <section id="page">
  			<!-- SIDEBAR -->
  			<div id="sidebar" class="sidebar">
  				<div class="sidebar-menu nav-collapse">
  					<div class="divide-20"></div>
  					<ul>
              {{#each model.treedata.children as |child|}}
              {{#common-tree node=child as |node| }}
              {{/common-tree}}
              {{/each}}
  					</ul>
  					<!-- /SIDEBAR MENU -->
  				</div>
  			</div>
  			<!-- /SIDEBAR -->

  </section>
  {{outlet}}
{{/if}}
