{{#if global_curStatus.isMobile}}
<div id="userLoginContainer" class="mainContent" style="top:0">
  <div class="wrapperInner">
    <ul class="padding50">
      <li class="center padding-top68">
        {{#if global_curStatus.isJujia}}
        <img  src="assets/images/logo/康颐logopng.png" width="230" alt=""/>
        {{else}}
        <img  src="assets/images/logo/Bitmap.png" width="140" alt=""/>
        {{/if}}
      </li>
      <li class="top5 font24 center color666666">
        {{#if global_curStatus.isJujia}}
        康颐养老关爱
        {{else}}
        天年宝
        {{/if}}
      </li>
      {{#if global_curStatus.isJujia}}
        <li class="position-relative top40 height40">
          <img class="user-login-i" src="assets/images/logo/admin.png" height="22" alt=""/>
          {{input type="number" class="padding-left-10 height40 font18 width180 position_absolute left40 borderB1-D2D2D2" maxlength="11" value=mobileNum  focus-in="changeInfo"  placeholder="请输入您的手机号" enter='loginAction'}}
        </li>
        <li class="position-relative top10 height40">
          <img class="user-login-i" src="assets/images/logo/key.png" height="22" alt=""/>
          {{input type="password" class="padding-left-10 height40 font18 width180 position_absolute left40 borderB1-D2D2D2" value=password focus-in="changeInfo"  placeholder="请输入登录密码" enter='loginAction'}}
        </li>
      {{else}}
        <li class="position-relative top40 height40">
          <img class="user-login-i" src="assets/images/logo/admin.png" height="22" alt=""/>
          {{input type="number" class="padding-left-10 height40 position_absolute left40 borderB1-D2D2D2" maxlength="11" value=mobileNum  focus-in="changeInfo"  placeholder="请输入您的手机号" enter='loginAction'}}
        </li>
        <li class="position-relative top10 height40">
          <img class="user-login-i" src="assets/images/logo/key.png" height="22" alt=""/>
          {{input type="password" class="padding-left-10 height40 position_absolute left40 borderB1-D2D2D2" value=password focus-in="changeInfo"  placeholder="请输入登录密码" enter='loginAction'}}
        </li>
      {{/if}}
      {{#if success}}
      <div class="text-color-success min-height-18 center top10">{{responseInfo}}</div>
      {{else}}
      <div class="text-color-danger min-height-18 center top10">{{responseInfo}}</div>
      {{/if}}
      <li class="top14">
        {{#ui/mobile/gestures-container}}
        {{#if deterDisabled}}
          {{#if global_curStatus.isJujia}}
            <div id="userLoginBtn" class="user-login-btn" style="background-color:#008040" {{action "loginAction" on="tap"}}>登录</div>
          {{else}}
            <div id="userLoginBtn" class="user-login-btn" {{action "loginAction" on="tap"}}>登录</div>
          {{/if}}
        {{else}}
            <div id="userLoginBtn" class="user-login-btn bk-color-ccc">登录</div>
        {{/if}}
        {{/ui/mobile/gestures-container}}
      </li>


    </ul>





    <!-- <ul class="nopadding-horizontal bk-color-365472 height224">
      <li class="height44"></li>
      <li class="center padding-top38">
        <img  src="assets/images/logo/logo.png" width="141" alt=""/>
      </li>
      <li class="center font16 color-white padding-top43">
        欢迎使用天年宝机构养老管理系统
      </li>
    </ul>
    <ul class="padding-left60 padding-right-60">
      <li class="position-relative top40">
        <i class="fa-user font20 user-login-i"></i>
        {{input type="number" class="height44 width100B padding-left40 border1-D2D2D2" maxlength="11" value=mobileNum  focus-in="changeInfo"  placeholder="请输入11位手机号" enter='loginAction'}}
      </li>
      <li class="position-relative top10">
        <i class="fa-lock font20 user-login-i"></i>
        {{input type="password" class="height44 width100B padding-left40 border1-D2D2D2" value=password focus-in="changeInfo"  placeholder="请输入登录密码" enter='loginAction'}}
      </li>
      {{#if success}}
      <div class="text-color-success min-height-18 center top10">{{responseInfo}}</div>
      {{else}}
      <div class="text-color-danger min-height-18 center top10">{{responseInfo}}</div>
      {{/if}}
      <li class="top14">
        {{#ui/mobile/gestures-container}}
        <div id="userLoginBtn" class="user-login-btn" {{action "loginAction" on="tap"}}>登录</div>
        {{/ui/mobile/gestures-container}}
      </li>
    </ul> -->

  </div>
</div>
<!-- {{ui/container/infinite-scroll moniteData="userLogin" didRenderAction="didRender" didInsertElementAction="didInsertElement"}} -->
{{else}}
<div class="container login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="padding-left:6.5%;padding-right:6.5%;">
      <div id="logo" style="padding-bottom:11%;padding-top:9%; {{if jujia 'background-color:#638775;' 'background-color:#3f4657;'}}">
        <div class='logo-block'>
          <img src="{{if jujia 'assets/images/kangyi/kangyi-logo.png' 'assets/images/logo/logo.png'}}" width="200" alt=""/>
          <span class="logo-text">养老管理系统</span>
        </div>

      </div>
  </div>

  <div class="col-md-6 col-md-offset-3" style="padding-left:6.5%;padding-right:6.5%;">
    <div class="login-box-plain nopadding-top" style="padding-bottom:0;margin-bottom:10px;">
      <div class="divide-20"></div>
      <form role="form">
        {{log 'mailLogin' mailLogin 'phoneLogin' phoneLogin}}
        {{#if mailLogin}}
        <div class="form-group">
          <i class="fa fa-envelope"></i>
          {{input type="email" class="form-control" value=emailAddress focus-in="changeInfo"  placeholder="邮箱" enter='loginAction'}}
        </div>
        {{/if}}
        {{#if phoneLogin}}
        <div class="form-group">
          <i class="fa fa-check-circle user-mobile"></i>
          {{input type="tel" class="form-control" value=mobileNum maxlength="11" focus-in="changeInfo"  placeholder="请输入11位手机账号" enter='loginAction'}}
        </div>
        {{/if}}
        <div class="form-group">
          <img class="password" src="assets/images/logo/password.png" width="18px">
          {{input type="password" class="form-control" value=password focus-in="changeInfo"  placeholder="请输入您的密码" enter='loginAction'}}
        </div>
        {{#if success}}
        <div class="text-color-success left4 top15">{{responseInfo}}</div>
        {{else}}
        <div class="text-color-danger left4 top15">{{responseInfo}}</div>
        {{/if}}
        <div class="form-actions nopadding-left nopadding-right nopadding-top">
          <!-- <label class="checkbox inline-block pull-left"><div class="checker user-checker"><span><input type="checkbox" class="uniform" value=""></span></div> 记住用户名</label> -->
          <!-- <a class="pull-right inline-block forget pointer">忘记密码?</a> -->
          {{#if mailLogin}}
          <input type="button" class="btn btn-danger" {{action "loginAction"}} disabled={{deterDisabled}} value="企业登录">
          {{/if}}
          {{#if phoneLogin}}
          <input type="button" class="btn btn-info" {{action "loginAction"}} disabled={{deterSDisabled}} style="margin-top:3%;margin-left:10px;width:97%; {{if jujia 'background-color:#638775;'}}" value="登录">
          {{/if}}
          <!-- <span class="registered">还未成为其中的一员？<a >点击注册</a></span> -->
        </div>
      </form>

    </div>
  </div>
  <footer class="col-sm-12 col-xs-12 center">
    <span> ICP备14048432号</span>
    <br>
    <!-- <img src="assets/images/备案图标.png" width="15" alt=""/><span> 京公网安备xxxxxxx号</span> -->
  </footer>
</div>
</div>
{{/if}}
